<div id="content">
    <div class="brspacer">
        <h1>Change Password</h1><br><div id="pagepath"><a href="/">Naruto Arena</a> &gt; <a href="/main/">Main</a> &gt; <a href="/control-panel/">Control panel</a> &gt; <h2>Change Password</h2></div>
    </div>
    <div class="brspacer">
<div class="brspacer">
</div>

<% if (typeof success !=='undefined' && success) { %>
    <div class="succesfull" style="text-align: center;">
        <%= success %>
    </div>
<% } %>
<% if (typeof error !=='undefined' && error) { %>
    <div class="error" style="text-align: center;">
        <%= error %>
    </div>
<% } %>

<form method="post" class="formdata">
	<table class="max">
		<tbody><tr>
			<td class="title" colspan="2"><img class="pre" src="/images/pres/pre3.gif"> Change Password</td>
		</tr>
		<tr class="color2">
			<td class="info" colspan="2">Enter your current password for verification.</td>
		</tr>
		<tr class="color1">
			<td width="25%">
				<label for="current_password">Current password:</label>
			</td>
			<td width="75%">
				<input type="password" name="current_password" id="current_password" size="30" value="" required>
			</td>
		</tr>
		<tr class="color2">
			<td class="info" colspan="2">Fill in your new password. This password needs to be at least 3 characters long and is not case sensitive. The max number of characters is 16.</td>
		</tr>
		<tr class="color1">
			<td>
				<label for="password">New password:</label>
			</td>
			<td>
				<input type="password" name="password" id="password" size="30" value="" required>
			</td>
		</tr>
		<tr class="color2">
			<td class="info" colspan="2">Please fill in your password again to make sure you didn't type any mistakes.</td>
		</tr>
		<tr class="color1">
			<td>
				<label for="password_confirm">Confirm password:</label>
			</td>
			<td>
				<input type="password" name="password_confirm" id="password_confirm" size="30" value="" required>
			</td>
		</tr>
		<tr><td class="dots" colspan="2"></td></tr>
	</tbody></table>
	<div class="centerp">
		<input type="submit" class="button" name="changepassword" value="Change Password">
	</div>
</form>
							</div>
							<div class="brspacer2">
								<div class="dots"></div>
								<div class="grey">
									<div class="centerp">
										Related subjects: <h3>change password</h3>, <h3>password</h3>, <h3>account</h3>
									</div>
								</div>
							</div>
							<div class="brspacer">
								<div class="brspacer">
									<center>
										Naruto-Arena.com is a fansite based on the Naruto Anime and Manga series.
										The holders of the copyrighted and/or trademarked material appearing on this site are as follows:<br>
										NARUTO © 2002 MASASHI KISHIMOTO. All Rights Reserved.
										<div class="centerp">
											<a href="/privacy-policy/" class="con">Privacy policy</a> -
											<a href="/legal-disclaimer/" class="con">Legal disclaimer</a> -
											<a href="/terms-of-use/" class="con">Terms of use</a>
										</div>
									</center>
								</div>
							</div>
						</div>
