<div id="content">
  <div class="brspacer">
    <h1>Contact and Chat</h1><br><div id="pagepath"><a href="/">Naruto Arena</a> &gt; <h2>Contact and Chat</h2></div>
  </div>
  <div class="brspacer">
So far the following options are made to communicatie with the staff and other members.

<div class="brspacer">
	<center>
		<div class="description">
			<div class="descrtext">
				<div class="descrheader">
					<img class="pre" src="/images/pres/pre3.gif"> <a href="/naruto-arena-irc-channel/"><h2>Naruto Arena IRC Channel</h2></a>
				</div>
				<div class="descrcontent">
					Naruto-Arena has opened up its own official <a href="/naruto-arena-irc-channel/" class="con" title="IRC">IRC</a> <a href="/naruto-arena-irc-channel/" class="con" title="chat">chat</a> <a href="/naruto-arena-irc-channel/" class="con" title="channel">channel</a>. This will give our members the opportunity to talk freely to eachother.
				</div>
				<div class="dots"></div>
			</div>
			<div class="descrimg">
				<img src="/images/content/37/thumbnail.jpg">
			</div>
			<div class="infolink">
				<a href="/naruto-arena-irc-channel/"><h6>Read more about Naruto Arena IRC Channel</h6></a>&nbsp;
			</div>
		</div>
	</center>
	<center>
		<div class="description">
			<div class="descrtext">
				<div class="descrheader">
					<img class="pre" src="/images/pres/pre3.gif"> <a href="/contact/"><h2>Contact</h2></a>
				</div>
				<div class="descrcontent">
					To get in <a href="/contact/" class="con" title="contact">contact</a> with any of the admins, report bugs, and for us to give personal feedback we make use of our Private Message script as <a href="/main/" class="con" title="main">main</a> communication medium.
				</div>
				<div class="dots"></div>
			</div>
			<div class="descrimg">
				<img src="/images/content/26/thumbnail.jpg">
			</div>
			<div class="infolink">
				<a href="/contact/"><h6>Read more about Contact</h6></a>&nbsp;
			</div>
		</div>
	</center>


</div>

							</div>
							<div class="brspacer2">
								<div class="dots"></div>
								<div class="grey">
									<div class="centerp">
										Related subjects: <h3>contact and chat</h3>
									</div>
								</div>
							</div>
							<div class="brspacer">
								<div class="brspacer">
									<center>
										Naruto-Arena.com is a fansite based on the Naruto Anime and Manga series. 
										The holders of the copyrighted and/or trademarked material appearing on this site are as follows:<br>
										NARUTO © 2002 MASASHI KISHIMOTO. All Rights Reserved.
										<div class="centerp">
											<a href="/privacy-policy/" class="con">Privacy policy</a> - 
											<a href="/legal-disclaimer/" class="con">Legal disclaimer</a> - 
											<a href="/terms-of-use/" class="con">Terms of use</a>
										</div>
									</center>
								</div>
							</div>
						</div>