<div id="content">
							<div class="brspacer">
								<h1>Contact</h1><br><div id="pagepath"><a href="/">Naruto Arena</a> &gt; <a href="/contact-and-chat/">Contact and Chat</a> &gt; <h2>Contact</h2></div>
							</div>
							<div class="brspacer">
<div class="contentp">
	<div class="title"><img class="pre" src="/images/pres/pre3.gif"> Contact Us</div>
	<p>
		Ok, we know a lot of people have suggestions on how to improve the <a href="/game-manual/" class="con" title="game">game</a>. Since we are still in the progress of fulfilling our starting goals, it's hard 
		to answer <a href="/faq/" class="con" title="questions">questions</a> as to whether a certain feature will or will not become available in the near future, or might ever acome for that matter.
	</p>
	<p>
		To get in contact with any of the admins, report bugs, and for us to give personal feedback we make use of our Private Message script as <a href="/main/" class="con" title="main">main</a> 
		communication medium. If it turns out 	that additional <a href="/the-basics/" class="con" title="help">help</a> is needed, you can contact us using MSN Messenger: 
		<a class="con" href="mailto:naruto-arena@hotmail.com">naruto-arena@hotmail.com</a>. When PMing us <u>ask the right <a href="/faq/" class="con" title="questions">questions</a> to the right person(s) 
		so things go smoothly</u>!
	</p>
	<div class="title"><img class="pre" src="/images/pres/pre3.gif"> Naruto-Arena Staff</div>
	<p>
		The staff currently consists out of three people. Please note that all admins have their speciality and/or assignment.
	</p>
	<div class="padding3">
		<b>Gametester</b><br>
		Bugs, problems and general <a href="/faq/" class="con" title="questions">questions</a> regarding the <b>website</b>.
		<div class="brspacer">
			<img class="pre" src="/images/pres/pre.gif"> <a class="con" href="/private-messages/send/gametester/">Send a Message to Gametester</a>
		</div>
	</div>
	<div class="padding3">
		<b>Mark</b><br>
		Bugs, problems, balancing issues and general <a href="/faq/" class="con" title="questions">questions</a> regarding the <b>game</b>.
		<div class="brspacer">
			<img class="pre" src="/images/pres/pre.gif"> <a class="con" href="/private-messages/send/mark/">Send a Message to Mark</a>
		</div>
	</div>
	<div class="padding3">
		<b>Luapman</b><br>
		Balancing issues, suggestions and <a href="/faq/" class="con" title="questions">questions</a> regarding <b><a href="/characters-and-skills/" class="con" title="character">character</a> &amp; <a href="/characters-and-skills/" class="con" title="skills">skills</a> and website content</b>.
		<div class="brspacer">
			<img class="pre" src="/images/pres/pre.gif"> <a class="con" href="/private-messages/send/luapman/">Send a Message to Luapman</a>
		</div>
	</div>
	<div class="title"><img class="pre" src="/images/pres/pre3.gif"> Spamming Inboxes</div>
	<p>
		When PMming an <a href="/profile/" class="con" title="admin">admin</a>, please make sure that whatever you want us know is of the utmost importancy. It it's about a simple balance change request or 
		complaint, make sure you contact <b>the appropriate</b> <a href="/profile/" class="con" title="admin">admin</a> about. Lately we've been receiving too many PMs for us too look into all of them. Please do 
		understand that we're aware of almost everything that still needs to be improved, fixed, or altered in any way. Bringing things such as bugs you have 
		discovered, balance issues etc. to our attention will most likely be a complete waste of time. There's a big chance we already know of the problem and 
		are not yet ready (or we might simply disagree) to actually alter it. According to us, the <a href="/game-manual/" class="con" title="game">game</a> runs fine, balance-wise. But if you think something still 
		needs to be changed, make sure that other players agree with you, and it's pretty much destroying proper gameplay, then please let us know (Luapman). When 
		you think you've found a bug that no one else has experienced before or simply haven't been mentioned, please let us know (gametester or Mark) with a 
		detailed description about the problem. But do understand, especially when you're new to playing the <a href="/game-manual/" class="con" title="game">game</a>, some effects of certain moves might appear to 
		you as a bug or mistake in the <a href="/game-manual/" class="con" title="game">game</a>, but in most cases, they are not (and the same goes for balance issues). A simple tour through <a href="/the-basics/" class="con" title="the basics">the basics</a>, and 
		reading the effects of every <a href="/characters-and-skills/" class="con" title="skill">skill</a> in the <a href="/characters-and-skills/" class="con" title="characters">characters</a> &amp; <a href="/characters-and-skills/" class="con" title="skills">skills</a> section will make things clear to you.
	</p>
	<p>
		<b>Either way, please bare with us. And our Inboxes...</b>
	</p>
</div>

<div class="brspacer">


</div>

							</div>
							<div class="brspacer2">
								<div class="dots"></div>
								<div class="grey">
									<div class="centerp">
										Related subjects: <h3>contact</h3>, <h3>contact</h3>, <h3>e-mail</h3>, <h3>questions</h3>, <h3>answers</h3>
									</div>
								</div>
							</div>
							<div class="brspacer">
								<div class="brspacer">
									<center>
										Naruto-Arena.com is a fansite based on the Naruto Anime and Manga series. 
										The holders of the copyrighted and/or trademarked material appearing on this site are as follows:<br>
										NARUTO © 2002 MASASHI KISHIMOTO. All Rights Reserved.
										<div class="centerp">
											<a href="/privacy-policy/" class="con">Privacy policy</a> - 
											<a href="/legal-disclaimer/" class="con">Legal disclaimer</a> - 
											<a href="/terms-of-use/" class="con">Terms of use</a>
										</div>
									</center>
								</div>
							</div>
						</div>