<div id="content">
    <div class="brspacer">
        <h1>Control panel</h1><br><div id="pagepath"><a href="/">Naruto Arena</a> &gt; <a href="/main/">Main</a> &gt; <h2>Control panel</h2></div>
    </div>
    <div class="brspacer">

        <div class="brspacer">
            <span style="color: #F89700; font-weight: bold;">Welcome <%= user %></span>, you can use your control panel
            to modify your Naruto Arena account's preferences and other aspects of your account. All site-areas linked
            to your profile can be found in here.
        </div>

        <style>
            .control-panel-grid {
                display: grid;
                grid-template-columns: 1fr 1fr;
                gap: 15px;
            }

            .control-panel-grid a {
                text-decoration: none;
                color: inherit;
                display: block;
            }

            .control-panel-grid fieldset {
                margin: 0;
                padding: 10px;
                height: 100%;
                box-sizing: border-box;
                cursor: pointer;
            }
        </style>
        <div class="control-panel-grid">
            <a href="/private-messages">
                <fieldset class="color2">
                    <legend>Private Messages</legend>
                    Use the Private Message system to send to, and receive messages from other members. You
                    currently have <u>
                        <%= unreadMessagesCount %>
                    </u> new messages.
                </fieldset>
            </a>
            <a href="/buddy-list">
                <fieldset class="color2">
                    <legend>Buddy list</legend>
                    The Buddy List is a nice way to make friends. You can keep an eye on your friends'
                    online/offline status. You currently have <u>
                        <%= onlineBuddiesCount %>
                    </u> buddie(s) online.
                </fieldset>
            </a>
            <a href="/change-settings">
                <fieldset class="color2">
                    <legend>Change My Settings</legend>
                    Use this feature to modify your personal information and let other people learn more about you!
                </fieldset>
            </a>
            <a href="/profile/<%= user %>">
                <fieldset class="color2">
                    <legend>View My Profile</legend>
                    Take a look at your own profile that is unique to your account. Please make sure that all
                    information is valid. You can show/hide your e-mail address in your profile.
                </fieldset>
            </a>
            <a href="/change-password">
                <fieldset class="color2">
                    <legend>Change My Password</legend>
                    You can use this feature to change your current password into a new password.
                </fieldset>
            </a>
            <a href="/reset-account">
                <fieldset class="color2">
                    <legend>Reset account</legend>
                    If you are not happy with your account's stats you can just reset them. This feature will reset
                    your rank, win-losses record and your streaks.
                </fieldset>
            </a>
            <a href="/change-avatar">
                <fieldset class="color2">
                    <legend>Change My Avatar</legend>
                    Your avatar shows up along with your username in the posts you make, you can also upload your
                    very own avatar right here.
                </fieldset>
            </a>
            <a href="/my-player-card">
                <fieldset class="color2">
                    <legend>My Player Card</legend>
                    The player card is an image you can use f.e. as a signature to show off your personal
                    playerstats.
                </fieldset>
            </a>
        </div>

        <br><br>
        <div style="text-align: right;">
            <a href="/logout" class="con"><b>Logout with this account</b></a>
        </div>

    </div>
    <div class="brspacer2">
        <div class="dots"></div>
        <div class="grey">
            <div class="centerp">
                Related subjects: <h3>control panel</h3>, <h3>settings</h3>, <h3>account</h3>
            </div>
        </div>
    </div>
    <div class="brspacer">
        <div class="brspacer">
            <center>
                Naruto-Arena.com is a fansite based on the Naruto Anime and Manga series.
                The holders of the copyrighted and/or trademarked material appearing on this site are as follows:<br>
                NARUTO © 2002 MASASHI KISHIMOTO. All Rights Reserved.
                <div class="centerp">
                    <a href="/privacy-policy/" class="con">Privacy policy</a> -
                    <a href="/legal-disclaimer/" class="con">Legal disclaimer</a> -
                    <a href="/terms-of-use/" class="con">Terms of use</a>
                </div>
            </center>
        </div>
    </div>
</div>
