<div
    style="padding: 0px 0px 0px 0px;  margin:0px 0px 0px 0px; top:217px; position:absolute; background-color:white; left:200px; width:565px; line-height: 16px; border-top: 1px black solid; border-left: 1px black solid;  height:auto;">
    <div
        style="padding: 0px 0px 0px 0px;  height:auto; margin:10px 10px 10px 10px; font: normal normal normal 11px/normal Trebuchet MS, arial, verdana, sans-serif; color:#000000;">
        <h1>FAQ</h1><br><a href="/">Naruto Arena</a> &gt; <a href="/game-manual/">Game manual</a> &gt; <h2>FAQ</h2>
        <br><br>
        <h5>What is Naruto?</h5><br>
        www.google.com
        <br><br>
        <h5>I cant see how my enemies are attacking me?</h5><br>
        Part of the <a href="/game-manual/" class="con" name="game">game</a> is knowledge of the opposing player's <a
            href="/characters-and-skills/" class="con" name="characters">characters</a> abilities. Maybe we will add
        some kind of visualisation of <a href="/characters-and-skills/" class="con" name="skills">skills</a>/attacks in
        the future. However the vast majority of players will soon be able to
        recognize the attacks that took place (and even predict them), to learn of an opposing <a
            href="/characters-and-skills/" class="con" name="characters">characters</a> abilities either click on their
        icon while ingame or look them up in our <a href="/characters-and-skills/" class="con"
            name="Characters &amp; Skills">Characters &amp; Skills</a> section which fully details the abilities of all
        <a href="/characters-and-skills/" class="con" name="characters">characters</a>, this method will be in place
        until the necessary improvements are made.
        <br><br>
        <h5>Where is <a href="/characters-and-skills/" class="con" name="Character">Character</a> XXX that's currently
            in the manga?</h5><br>
        Since Naruto Arena is heavily reliant on the Anime for its images, it will only include <a
            href="/characters-and-skills/" class="con" name="characters">characters</a> that are present in the anime.
        <br><br>
        <h5>Will you be adding any filler <a href="/characters-and-skills/" class="con" name="characters">characters</a>
            to the line up?</h5><br>
        No and, hell no.
        <br><br>
        <h5>How can i communicate with my opponent while i'm playing versus him?</h5><br>
        At the moment this is simply not possible. The improvement of a Chat Function in-game is one of our <a
            href="/main/" class="con" name="main">main</a> goals. Expect
        this function in the very near future.
        Please note that you can use the Private Message function to communicate with other players.
        <br><br>
        <h5>I was in the middle of a fight and 'You Win' came up, but I didn?t defeat the player?</h5><br>
        The opposing player either suffered a connection problem or closed his in-game window.
        <br><br>
        <h5>At the end of the round a menu comes up regarding chakra. What is this?</h5><br>
        If a player uses any form of random chakra (Black) during a round, this menu will appear, the purpose of this
        menu is to offer a pool of your current chakra from which you can draw a substitute for the ?Black? chakra.
        Please note, this menu does NOT decide which chakra you will gain next round, this principle is explained
        further in the <a href="/game-manual/" class="con" name="game manual">game manual</a> section.
        <br><br>

        <h5>I get a Kisame and Gai picture or a loss screen after I entered a <a href="/game-manual/" class="con"
                name="game">game</a>,
            what should I do ?</h5><br>
        The cause of the bug has been found. If the <a href="/game-manual/" class="con" name="game">game</a> is
        still not working delete all your cookies and re-login on the website. The problem occurred when people joined
        the website with the naruto-arena.com domain instead of www.naruto-arena.com.
        <br><br>
        <h5>I want to <a href="/the-basics/" class="con" name="help">help</a> making the <a href="/game-manual/"
                class="con" name="game">game</a> better! Can I join the staff?</h5><br>

        While we are still working out our basic ideas we have no spots for new people. As soon as we are done with the
        features we wanted from the beginning, we will start looking for people that want to <a href="/the-basics/"
            class="con" name="help">help</a>
        designing, balancing and moderating the website. Give it some time.
        <br><br>
        <h5>How to unlock the other <a href="/characters-and-skills/" class="con" name="characters">characters</a>?</h5>
        <br>

        Half of the <a href="/characters-and-skills/" class="con" name="characters">characters</a> will be unlock able
        by doing quests in the future. They will not be much
        stronger though. We want this <a href="/game-manual/" class="con" name="game">game</a> to remain balanced.
        Unlocking new <a href="/characters-and-skills/" class="con" name="characters">characters</a> will only give you
        more possibilities and strategies to play with. A quest
        might look like this:
        <br><br>
        <i>In order for <a href="/hatake-kakashi/" class="con" name="Hatake Kakashi">Hatake Kakashi</a> to work with you
            he wants you to show that you are worth it.
            Win 10 matches with <a href="/uchiha-sasuke/" class="con" name="Uchiha Sasuke">Uchiha Sasuke</a>, <a
                href="/uzumaki-naruto/" class="con" name="Uzumaki Naruto">Uzumaki Naruto</a> and <a
                href="/haruno-sakura/" class="con" name="Haruno Sakura">Haruno Sakura</a> to unlock <a
                href="/hatake-kakashi/" class="con" name="Hatake Kakashi">Hatake Kakashi</a>.</i>
        <br><br>
        Please note that this is just an example of how a quest will look like in the future!
        <br><br>
        <h5>When I go to sleep and come back I dropped in <a href="/the-ninja-ladder/" class="con"
                name="ladder">ladder</a> rank, how come?</h5><br>

        You are one of the many people that want to advance in the <a href="/the-ninja-ladder/" class="con"
            name="ladder">ladder</a>. While you were sleeping people continued to play and passed you on the <a
            href="/the-ninja-ladder/" class="con" name="ladder">ladder</a>.
        <br><br>
        <h5>How does the match-up system work?</h5><br>
        Every 60 seconds match-ups are made. The players closest to each other on the <a href="/the-ninja-ladder/"
            class="con" name="ladder">ladder</a> will play each other.<br><br>
        <h5>I want to play versus my friend, but the match-up system is random?</h5><br>

        A Private <a href="/game-manual/" class="con" name="game">game</a> option has been our goal since the beginning.
        Since we kept postponing the release this
        feature was not made yet. Somewhere soon you will be able to type in a <a href="/profile/" class="con"
            name="user">user</a>name of your
        friend. If your friend typed in your name, a private match will start. This feature will only be for fun and
        practice reasons. The private matches will not count as a <a href="/the-ninja-ladder/" class="con"
            name="ladder">ladder</a> match!
        <br><br>
        <h5>This is first version is called BETA 1.0. Does that mean we will get a <a href="/the-ninja-ladder/"
                class="con" name="ladder">ladder</a> reset?</h5><br>


        Since the <a href="/the-ninja-ladder/" class="con" name="ladder">ladder</a> system only works when a lot of
        people are ranked we will not do a <a href="/the-ninja-ladder/" class="con" name="ladder">ladder</a> reset. But
        we will include a button to reset your rank, wins, losses and win
        streak. This way people that want to start all over will have be able to start clean without having to make a
        new <a href="/profile/" class="con" name="account">account</a>
        &amp; <a href="/profile/" class="con" name="user">user</a>name.
        <br><br>
        <h5>Is <a href="/the-ninja-ladder/" class="con" name="ladder">ladder</a> the only <a href="/the-ninja-ladder/"
                class="con" name="competition">competition</a> that this site will offer?</h5><br>


        No, we are making tournament support in the upcoming future. Some of these tournaments might have a little fee
        and will include prizes to win. Since we haven?t really thought too much about tournament support we do not know
        exactly yet how this will look like.
        <br><br>
        <h5>Will there be any kind of clan support?</h5><br>


        So far we didn't plan on making this <a href="/game-manual/" class="con" name="game">game</a> team versus team.
        The <a href="/game-manual/" class="con" name="game">game</a> will
        remain one versus one but this does not mean that there won?t be any clan support. Players can team-up with each
        other under a certain team name. We plan on making a special Clan <a href="/the-ninja-ladder/" class="con"
            name="Ladder">Ladder</a> which will work the same as the Solo <a href="/the-ninja-ladder/" class="con"
            name="Ladder">Ladder</a>.
        <br><br>
        <h5>When will a forum come?</h5><br>

        Of course we understand the importancy of a forum but the person that is going to create this forum is in the
        last weeks of his study. We do not plan on using a open source or licensed forum. We create our own forum that
        suites best to the <a href="/game-manual/" class="con" name="game">game</a>. Wait a couple more weeks.
        <br><br>
        <h5> Future Plans for Naruto Arena </h5><br>

        These plans are subject to change at any time without prior notification, these are just an indicator of what
        our grand vision of Naruto-Arena is, we may <a href="/search/" class="con" name="find">find</a> that many of
        these are currently not on the horizon, however we would like
        to share our vision with you ? the players.
        <br><br>
        <li>Private unranked battles </li>
        <li>In-game chat interface </li>
        <li>Tournaments </li>
        <li>Specific missions to unlock <a href="/characters-and-skills/" class="con" name="characters">characters</a>
        </li>
        <li>Improvements to interface </li>
        <li>More <a href="/characters-and-skills/" class="con" name="Characters">Characters</a> </li>
        <li>And much more! </li>


        <center>
        </center>

        <br><br><br>
        <div class="dots"></div>
        <div class="nothing">
            Pagename: <b>FAQ</b><br>
            Description: Always check this section before asking any question! This section contains the most frequently
            asked questions.<br>
            Related subjects: <h3>faq</h3>, <h3>questions</h3>, <h3>faq</h3>, <h3>frequently asked questions</h3>
            <br><br>
            Naruto-Arena.com is a fansite based on the Naruto Anime and Manga series.
            The holders of the copyrighted and/or trademarked material appearing on this site are as follows:<br>
            NARUTO © 2002 MASASHI KISHIMOTO. All Rights Reserved.<br><br>
            <a href="/privacy-policy/" class="con">Privacy policy</a> -
            <a href="/legal-disclaimer/" class="con">Legal disclaimer</a>
            -
            <a href="/terms-of-use/" class="con">Terms of use</a>
        </div>
        <div class="dots"></div><br>
    </div>
</div>
</div>
</div>