<div id="content">		
<div class="brspacer">
    <h1>Game manual</h1><br><div id="pagepath"><a href="/">Naruto Arena</a> &gt; <h2>Game manual</h2></div>
</div>
<div class="brspacer">
For new players entering the Naruto-Arena for the first time, our game manual provides you with all the information you need to get started right away. It contains info about the game itself, and everything related to it.

<div class="brspacer">
	<center>
		<div class="description">
			<div class="descrtext">
				<div class="descrheader">
					<img class="pre" src="/images/pres/pre3.gif"> <a href="/latest-balance-changes/"><h2>Latest balance changes</h2></a>
				</div>
				<div class="descrcontent">
					We are constantly trying to balance this game. On this page you will <a href="/search/" class="con" title="find">find</a> all the <a href="/latest-balance-changes/" class="con" title="latest balance changes">latest balance changes</a> listed.
				</div>
				<div class="dots"></div>
			</div>
			<div class="descrimg">
				<img src="/images/content/32/thumbnail.jpg">
			</div>
			<div class="infolink">
				<a href="/latest-balance-changes/"><h6>Read more about Latest balance changes</h6></a>&nbsp;
			</div>
		</div>
	</center>
	<center>
		<div class="description">
			<div class="descrtext">
				<div class="descrheader">
					<img class="pre" src="/images/pres/pre3.gif"> <a href="/faq/"><h2>FAQ</h2></a>
				</div>
				<div class="descrcontent">
					Always check this section before asking any question! This section contains the most <a href="/faq/" class="con" title="frequently asked questions">frequently asked questions</a>.
				</div>
				<div class="dots"></div>
			</div>
			<div class="descrimg">
				<img src="/images/content/33/thumbnail.jpg">
			</div>
			<div class="infolink">
				<a href="/faq/"><h6>Read more about FAQ</h6></a>&nbsp;
			</div>
		</div>
	</center>
	<center>
		<div class="description">
			<div class="descrtext">
				<div class="descrheader">
					<img class="pre" src="/images/pres/pre3.gif"> <a href="/mission/"><h2>Mission</h2></a>
				</div>
				<div class="descrcontent">
					
				</div>
				<div class="dots"></div>
			</div>
			<div class="descrimg">
				<img src="/images/layout/blank.gif">
			</div>
			<div class="infolink">
				<a href="/mission/"><h6>Read more about Mission</h6></a>&nbsp;
			</div>
		</div>
	</center>
	<center>
		<div class="description">
			<div class="descrtext">
				<div class="descrheader">
					<img class="pre" src="/images/pres/pre3.gif"> <a href="/the-basics/"><h2>The basics</h2></a>
				</div>
				<div class="descrcontent">
					Before you <a href="/start-playing/" class="con" title="start playing">start playing</a> it's important that you know <a href="/the-basics/" class="con" title="the basics">the basics</a> of the game. This page gives you an introduction to the gameplay.
				</div>
				<div class="dots"></div>
			</div>
			<div class="descrimg">
				<img src="/images/content/30/thumbnail.jpg">
			</div>
			<div class="infolink">
				<a href="/the-basics/"><h6>Read more about The basics</h6></a>&nbsp;
			</div>
		</div>
	</center>
	<center>
		<div class="description">
			<div class="descrtext">
				<div class="descrheader">
					<img class="pre" src="/images/pres/pre3.gif"> <a href="/characters-and-skills/"><h2>Characters and Skills</h2></a>
				</div>
				<div class="descrcontent">
					<a href="/uzumaki-naruto/" class="con" title="Naruto">Naruto</a> Arena focuses on <a href="/characters-and-skills/" class="con" title="characters and skills">characters and skills</a>. This page gives you an overview of all <a href="/characters-and-skills/" class="con" title="characters">characters</a> available in the Naruto-Arena game.
				</div>
				<div class="dots"></div>
			</div>
			<div class="descrimg">
				<img src="/images/content/31/thumbnail.jpg">
			</div>
			<div class="infolink">
				<a href="/characters-and-skills/"><h6>Read more about Characters and Skills</h6></a>&nbsp;
			</div>
		</div>
	</center>
	<center>
		<div class="description">
			<div class="descrtext">
				<div class="descrheader">
					<img class="pre" src="/images/pres/pre3.gif"> <a href="/the-ninja-ladder/"><h2>The ninja ladder</h2></a>
				</div>
				<div class="descrcontent">
					The <a href="/the-ninja-ladder/" class="con" title="ladder">ladder</a> is a solution for everyone who wants to compete with players around the world. This section contains all the information you need to know about the <a href="/ninja-ladder/" class="con" title="ninjaladder">ninjaladder</a>.
				</div>
				<div class="dots"></div>
			</div>
			<div class="descrimg">
				<img src="/images/content/29/thumbnail.jpg">
			</div>
			<div class="infolink">
				<a href="/the-ninja-ladder/"><h6>Read more about The ninja ladder</h6></a>&nbsp;
			</div>
		</div>
	</center>


</div>

</div>
<div class="brspacer2">
    <div class="dots"></div>
    <div class="grey">
        <div class="centerp">
            Related subjects: <h3>game manual</h3>, <h3>manual</h3>, <h3>howto</h3>, <h3>start playing</h3>, <h3>game</h3>
        </div>
    </div>
</div>
<div class="brspacer">
    <center>
        <script type="text/javascript" language="javascript" src="http://media.fastclick.net/w/get.media?sid=19845&amp;m=1&amp;tp=5&amp;d=j&amp;t=s"></script>
        <noscript><a href="http://media.fastclick.net/w/click.here?sid=19845&m=1&c=1" target="_top">
        <img src="http://media.fastclick.net/w/get.media?sid=19845&m=1&tp=5&d=s&c=1"
        width=728 height=90 border=1 /></a></noscript>
    </center>
    <div class="brspacer">
        <center>
            Naruto-Arena.com is a fansite based on the Naruto Anime and Manga series. 
            The holders of the copyrighted and/or trademarked material appearing on this site are as follows:<br>
            NARUTO © 2002 MASASHI KISHIMOTO. All Rights Reserved.
            <div class="centerp">
                <a href="/privacy-policy/" class="con">Privacy policy</a> - 
                <a href="/legal-disclaimer/" class="con">Legal disclaimer</a> - 
                <a href="/terms-of-use/" class="con">Terms of use</a>
            </div>
        </center>
    </div>
</div>
</div>