<div id="content">
							
							<div class="brspacer">
								<h1>Ladders</h1><br><div id="pagepath"><a href="/">Naruto Arena</a> &gt; <h2>Ladders</h2></div>
							</div>
							<div class="brspacer">
The Naruto-Arena ladders is a way to measure the players' individual or a <a href="/country-ladder/" class="con" title="country">country</a>'s <a href="/characters-and-skills/" class="con" title="skill">skill</a> in the Naruto-Arena <a href="/game-manual/" class="con" title="game">game</a>. They're a rating system which gives you and all the other players around the oppertunity to compete with each other. This feature is the most important one in the Naruto-Arena <a href="/game-manual/" class="con" title="game">game</a>.

<div class="brspacer">


	<center>
		<div class="description">
			<div class="descrtext">
				<div class="descrheader">
					<img class="pre" src="/images/pres/pre3.gif"> <a href="/ninja-ladder/"><h2>Ninja ladder</h2></a>
				</div>
				<div class="descrcontent">
					The most important <a href="/the-ninja-ladder/" class="con" title="ladder">ladder</a> of the Naruto-Arena <a href="/game-manual/" class="con" title="game">game</a>. It's an international <a href="/the-ninja-ladder/" class="con" title="ladder">ladder</a> which everyone automatically joins when he/she starts playing. It shows a player's individual <a href="/characters-and-skills/" class="con" title="skill">skill</a>.
				</div>
				<div class="dots"></div>
			</div>
			<div class="descrimg">
				<img src="/images/content/25/thumbnail.jpg">
			</div>
			<div class="infolink">
				<a href="/ninja-ladder/"><h6>View Ninja ladder</h6></a>&nbsp;
			</div>
		</div>
	</center>
	<center>
		<div class="description">
			<div class="descrtext">
				<div class="descrheader">
					<img class="pre" src="/images/pres/pre3.gif"> <a href="/country-ladder/"><h2>Country ladder</h2></a>
				</div>
				<div class="descrcontent">
					Every <a href="/country-ladder/" class="con" title="country">country</a> that has at least 10 active players automatically competes in this <a href="/the-ninja-ladder/" class="con" title="ladder">ladder</a>. The winner is decided by looking at total number of players, and the top 10 players of every <a href="/country-ladder/" class="con" title="country">country</a>.
				</div>
				<div class="dots"></div>
			</div>
			<div class="descrimg">
				<img src="/images/content/38/thumbnail.jpg">
			</div>
			<div class="infolink">
				<a href="/country-ladder/"><h6>View Country ladder</h6></a>&nbsp;
			</div>
		</div>
	</center>
</div>

							</div>
							<div class="brspacer2">
								<div class="dots"></div>
								<div class="grey">
									<div class="centerp">
										Related subjects: <h3>ladders</h3>
									</div>
								</div>
							</div>
							<div class="brspacer">
								<div class="brspacer">
									<center>
										Naruto-Arena.com is a fansite based on the Naruto Anime and Manga series. 
										The holders of the copyrighted and/or trademarked material appearing on this site are as follows:<br>
										NARUTO © 2002 MASASHI KISHIMOTO. All Rights Reserved.
										<div class="centerp">
											<a href="/privacy-policy/" class="con">Privacy policy</a> - 
											<a href="/legal-disclaimer/" class="con">Legal disclaimer</a> - 
											<a href="/terms-of-use/" class="con">Terms of use</a>
										</div>
									</center>
								</div>
							</div>
						</div>