<div id="content">
    <div class="brspacer">
        <h1>Latest balance changes</h1><br><div id="pagepath"><a href="/">Naruto Arena</a> &gt; <a href="/game-manual/">Game manual</a> &gt; <h2>Latest balance changes</h2></div>
    </div>
    <div class="brspacer">
        <%- balanceChangesContent %>
    </div>

</div>
<div class="brspacer2">
    <div class="dots"></div>
    <div class="grey">
        <div class="centerp">
            Related subjects: <h3>latest balance changes</h3>, <h3>balance updates</h3>
        </div>
    </div>
</div>
<div class="brspacer">
    <div class="brspacer">
        <center>
            Naruto-Arena.com is a fansite based on the Naruto Anime and Manga series. 
            The holders of the copyrighted and/or trademarked material appearing on this site are as follows:<br>
            NARUTO © 2002 MASASHI KISHIMOTO. All Rights Reserved.
            <div class="centerp">
                <a href="/privacy-policy/" class="con">Privacy policy</a> - 
                <a href="/legal-disclaimer/" class="con">Legal disclaimer</a> - 
                <a href="/terms-of-use/" class="con">Terms of use</a>
            </div>
        </center>
    </div>
</div>