<div id="content">
    <div class="brspacer">
        <h1>Login</h1><br><div id="pagepath"><a href="/">Naruto Arena</a> &gt; <a href="/main/">Main</a> &gt; <h2>Login</h2></div>
    </div>
    <div class="brspacer">
If you're a registered <a href="/profile/" class="con" title="member">member</a>, please enter your username and password to continue. If you do not have a registered <a href="/profile/" class="con" title="account">account</a>, please <a href="/register/" class="con" title="register">register</a> one in order to continue.

<div class="brspacer">


</div>

<fieldset class="color2">
	<legend>Login to your account</legend>
	<div class="padding2">
		<form action="" method="post">
			<label for="username"><u>Username:</u></label><br>
			<input maxlength="16" value="" name="username" id="username"><br>
			<label for="password"><u>Password:</u></label><br>
			<input value="" type="password" name="password" id="password">
			<br><input type="checkbox" class="nb" checked="" value="yes" name="cookie" id="cookie"> <label for="cookie">Stay logged in</label>
            <% if (typeof loginError !=='undefined' && loginError) { %>
                <div class="error" style="text-align: center;">
                    <%= loginError %>
                </div>
            <% } %>
			<div class="padding">
				<input type="submit" class="button" value="Login" name="submit2">
				<input type="button" class="button" value="Register" onclick="location.href='/register/'">
			</div>
			<div class="right">
				<a href="/lost-password/" class="right"><u>Lost your password?</u></a>
			</div>
		</form>
	</div>
</fieldset>							
</div>
<div class="brspacer2">
    <div class="dots"></div>
    <div class="grey">
        <div class="centerp">
            Related subjects: <h3>login</h3>, <h3>login</h3>, <h3>log-in</h3>
        </div>
    </div>
</div>
<div class="brspacer">
    <div class="brspacer">
        <center>
            Naruto-Arena.com is a fansite based on the Naruto Anime and Manga series. 
            The holders of the copyrighted and/or trademarked material appearing on this site are as follows:<br>
            NARUTO © 2002 MASASHI KISHIMOTO. All Rights Reserved.
            <div class="centerp">
                <a href="/privacy-policy/" class="con">Privacy policy</a> - 
                <a href="/legal-disclaimer/" class="con">Legal disclaimer</a> - 
                <a href="/terms-of-use/" class="con">Terms of use</a>
            </div>
        </center>
    </div>
</div>
</div>
