<div id="content">
    <div class="brspacer">
        <h1>Lost password</h1><br>
        <div id="pagepath"><a href="/">Naruto Arena</a> &gt; <a href="/main/">Main</a> &gt; <h2>Lost password</h2></div>
    </div>
    <div class="brspacer">

        <div class="brspacer">
        </div>

        <% if (locals.emailSent) { %>
        <div class="succesfull">Your username and a verification link has been e-mailed to you.</div><br>
        <span class="nothing">Please follow the instructions in the e-mail that has been send to you.</span><br>
        Click <a href="/"><u>here</u></a> to return to the startpage.
        <% } else { %>
        <form action="" class="formdata" method="post">
            <table class="max">
                <tbody>
                    <tr>
                        <td class="title" colspan="2"><img class="pre" src="/images/pres/pre3.gif"> Resetting your password</td>
                    </tr>
                    <tr class="color1">
                        <td class="info" colspan="2">Fill in the your account's e-mail address.</td>
                    </tr>
                    <tr class="color2">
                        <td><label for="email">Email:</label></td>
                        <td><input type="text" name="email" id="email" size="35" value=""></td>
                    </tr>
                    <tr><td class="dots" colspan="2"></td></tr>
                </tbody>
            </table>
            <div class="centerp">
                <input type="submit" class="button" name="send_email" value="Send e-mail">
            </div>
        </form>
        <% } %>

    </div>
</div>
<div class="brspacer2">
    <div class="dots"></div>
    <div class="grey">
        <div class="centerp">
            Related subjects: <h3>lost password</h3>, <h3>retrieve password</h3>
        </div>
    </div>
</div>
<div class="brspacer">
    <div class="brspacer">
        <center>
            Naruto-Arena.com is a fansite based on the Naruto Anime and Manga series.
            The holders of the copyrighted and/or trademarked material appearing on this site are as follows:<br>
            NARUTO © 2002 MASASHI KISHIMOTO. All Rights Reserved.
            <div class="centerp">
                <a href="/privacy-policy/" class="con">Privacy policy</a> -
                <a href="/legal-disclaimer/" class="con">Legal disclaimer</a> -
                <a href="/terms-of-use/" class="con">Terms of use</a>
            </div>
        </center>
    </div>
</div>
</div>
