<div id="content">
							
							<div class="brspacer">
								<h1>Mission</h1><br><div id="pagepath"><a href="/">Naruto Arena</a> &gt; <a href="/game-manual/">Game manual</a> &gt; <h2>Mission</h2></div>
							</div>
							<div class="brspacer">
Click here to go back to the <a href="/ninja-missions/">ninja missions</a>.

<div class="brspacer">


</div>

<div class="clear"></div>

							</div>
							<div class="brspacer2">
								<div class="dots"></div>
								<div class="grey">
									<div class="centerp">
										Related subjects: <h3>mission</h3>
									</div>
								</div>
							</div>
							<div class="brspacer">
								<div class="brspacer">
									<center>
										Naruto-Arena.com is a fansite based on the Naruto Anime and Manga series. 
										The holders of the copyrighted and/or trademarked material appearing on this site are as follows:<br>
										NARUTO © 2002 MASASHI KISHIMOTO. All Rights Reserved.
										<div class="centerp">
											<a href="/privacy-policy/" class="con">Privacy policy</a> - 
											<a href="/legal-disclaimer/" class="con">Legal disclaimer</a> - 
											<a href="/terms-of-use/" class="con">Terms of use</a>
										</div>
									</center>
								</div>
							</div>
						</div>