<div id="content">
  <div class="brspacer">
    <h1>Naruto Arena IRC Channel</h1><br><div id="pagepath"><a href="/">Naruto Arena</a> &gt; <a href="/contact-and-chat/">Contact and Chat</a> &gt; <h2>Naruto Arena IRC Channel</h2></div>
  </div>
  <div class="brspacer">
<div class="contentp">
	<div class="title"><img class="pre" src="/images/pres/pre3.gif"> Our IRC-Channel</div>
	<p>
		As you may know already, Naruto-Arena has opened up its own official IRC chat channel. This will give our members the opportunity to talk freely to eachother. We recommend everybody 		

		uses the exact same username as he/she has on his/her Naruto-Arena <a href="/profile/" class="con" title="account">account</a>.
	</p>
	<div class="title"><img class="pre" src="/images/pres/pre3.gif"> Server &amp; Channel</div>
	<p>
		To connect to our IRC-channel you'll need the following information:<br>
		</p><div class="padding3">
			<img class="pre" src="/images/pres/pre.gif"> Server: <b>irc.rizon.net</b><br>
			<img class="pre" src="/images/pres/pre.gif"> Channel: <b>#naruto-arena</b><br>
			<img class="pre" src="/images/pres/pre.gif"> Link: If you already have an IRC-Client installed, just click <a href="irc://irc.rizon.net/naruto-arena"><b>here</b></a> to connect to the channel.
		</div>
	<p></p>
	<div class="title"><img class="pre" src="/images/pres/pre3.gif"> What is IRC</div>
	<p>
		Internet Relay Chat (IRC) is one of the most popular and most interactive services on the Internet. It's just like msn or yahoo chatrooms. Generally, the <a href="/profile/" class="con" title="user">user</a> (such as you) runs a 		

		program (called a "client") to connect to a server on one of the IRC nets. The server relays information to and from other servers on the same net. The recommended clients is <a href="http://www.mirc.com">mIRC</a>.
	</p>
	<div class="title"><img class="pre" src="/images/pres/pre3.gif"> How to join the channel</div>
	<p>
		If you want to join our IRC-channel, just follow the tutorial underneath. Everything is explained step by step.
		</p><ul class="num">
			<li>
				Go to <a href="http://www.mirc.com/get.html">http://www.mirc.com/get.html</a> and <b>download</b> the latest mIRC version. The download location really doesn't matter since 	

			all the files are same. But still try to download it from the location nearest to you.
			</li>
			<li>
				<b>Install</b> the application.
			</li>
			<li>
				When you run mIRC for the first time, it asks you for your full name, <a href="/contact/" class="con" title="e-mail">e-mail</a> address, your nickname and alternative. <b>Fill in all</b> these things. Please try to use your 	

				naruto-arena <a href="/game-manual/" class="con" title="game">game</a> name so that everyone can tell who you are.
			</li>
			<li>
				Once you are done filling in this information, it's time to <b>select a server</b>. Our channel (#naruto-arena) is located on the Rizon server. So, 				

				from the option menu select "servers", and hit <b>"Add"</b>. Fill in the following data, and hit the ok-button. <u>Description:</u> Rizon - <u>IRC Server:</u> irc.rizon.net - 	

				<u>Port(s):</u> 6667
			</li>
			<li>
				In the dropbox called IRC Server you will now see Rizon as the selected server. Click <b>"connect to server"</b>.
			</li>
			<li>
				Now you are connected to the server. But you are not connected to the channel yet. Go to the very bottom and type <b>/join #naruto-arena</b> exactly as it's written here.
			</li>
			<li>
				If you did everything right you should now be connected to the Naruto-Arena IRC Channel.
			</li>
		</ul>
	<p></p>
	<div class="title"><img class="pre" src="/images/pres/pre3.gif"> Basic IRC-commands</div>
	<div class="padding3">
		<b>/server irc.rizon.net</b> or <b>/s irc.rizon.net</b><br>
		Change server/open up a new connection to irc.rizon.net<br>
		<b>/join #naruto-arena</b> or <b>/j #naruto-arena</b><br>
		You join the channel #naruto-arena.<br>
		<b>/nick newnick</b><br>
		Changes your nick to "newnick".<br>
		<b>/help</b><br>
		This works in many clients. Try it!<br>
		<b>/quit good night!</b><br>
		You quit IRC completely, with the parting comment so that others see "yournick (good night!)".
	</div>
	<div class="title"><img class="pre" src="/images/pres/pre3.gif"> Rules</div>
	<p>
		Typing in all caps, LIKE THIS, is considered "shouting" and should be avoided. Likewise, do not repeat yourself or otherwise "flood" the channel with many lines of text at 			

		once. Be sure to use correct terminology, e.g., "channel", not "chat room", and "nick", not "handle".
	</p>
	<p>
		While in a channel, follow the lead of the channel ops there. If you antagonize them, you may be "kicked" out off the channel forcibly and possibly "banned" from returning.
	</p>
	<div class="title"><img class="pre" src="/images/pres/pre3.gif"> Problems</div>
	<p>
		Sometimes your firewall blocks the IRC from connecting to the server. If that happnes try disabling your firewall and re-connecting again. If it works than try unblocking 			

		IRC. For example if you are using zonealarm firewall go to IM Sceurity-&gt;settings-&gt;Advanced-&gt; Uncheck block IRC.
	</p>
	<p>
		If you're still having problems PM Raizen-1 or Truedream for more <a href="/the-basics/" class="con" title="help">help</a>. They'll try to <a href="/the-basics/" class="con" title="help">help</a> you in every possible way they can.
	</p>
</div>

<div class="brspacer">


</div>

							</div>
							<div class="brspacer2">
								<div class="dots"></div>
								<div class="grey">
									<div class="centerp">
										Related subjects: <h3>naruto arena irc channel</h3>, <h3>irc</h3>, <h3>channel</h3>, <h3>server</h3>, <h3>chat</h3>, <h3>chatroom</h3>
									</div>
								</div>
							</div>
							<div class="brspacer">
								<div class="brspacer">
									<center>
										Naruto-Arena.com is a fansite based on the Naruto Anime and Manga series. 
										The holders of the copyrighted and/or trademarked material appearing on this site are as follows:<br>
										NARUTO © 2002 MASASHI KISHIMOTO. All Rights Reserved.
										<div class="centerp">
											<a href="/privacy-policy/" class="con">Privacy policy</a> - 
											<a href="/legal-disclaimer/" class="con">Legal disclaimer</a> - 
											<a href="/terms-of-use/" class="con">Terms of use</a>
										</div>
									</center>
								</div>
							</div>
						</div>