<div id="content">
						<div class="brspacer">
							<h1>News archive</h1><br><div id="pagepath"><a href="/">Naruto Arena</a> &gt; <a href="/main/">Main</a> &gt; <h2>News archive</h2></div>
						</div>
						<div class="brspacer">

<div class="brspacer">


</div>

<% if (Object.keys(groupedNews).length > 0) { %>
	<% for (const groupKey in groupedNews) { %>
	<div class="brspacer">
		<div class="title"><img class="pre" src="/images/pres/pre3.gif"> <%= groupKey %></div>
	</div>
	<div class="color2">
		<% groupedNews[groupKey].forEach(function(news) { %>
		<div class="archiverow">
			<img class="pre" src="/images/pres/pre.gif"> <a href="/<%= news.slug %>/"><%= news.title %></a> <span>on <%= news.formattedDate %> </span><br>
		</div>
		<% }); %>
	</div>
	<div class="dots"></div>
	<% } %>
<% } else { %>
<div class="brspacer">
	No news found.
</div>
<% } %>

						</div>
						<div class="brspacer2">
							<div class="dots"></div>
							<div class="grey">
								<div class="centerp">
									Related subjects: <h3>news archive</h3>, <h3>archive</h3>, <h3>old news</h3>
								</div>
							</div>
						</div>
						<div class="brspacer">
							<center>
							</center>
							<div class="brspacer">
								<center>
									Naruto-Arena.com is a fansite based on the Naruto Anime and Manga series.
									The holders of the copyrighted and/or trademarked material appearing on this site are as follows:<br>
									NARUTO © 2002 MASASHI KISHIMOTO. All Rights Reserved.
									<div class="centerp">
										<a href="/privacy-policy/" class="con">Privacy policy</a> -
										<a href="/legal-disclaimer/" class="con">Legal disclaimer</a> -
										<a href="/terms-of-use/" class="con">Terms of use</a>
									</div>
								</center>
							</div>
						</div>
					</div>
