<div id="content">
	<div class="brspacer">
		<h1>Ninja Missions</h1><br><div id="pagepath"><a href="/">Naruto Arena</a> &gt; <h2>Ninja Missions</h2></div>
	</div>
	<div class="brspacer">
Ninja missions are tasks that can be done to unlock more <a href="/characters-and-skills/" class="con" title="characters">characters</a>.<br><br>
Step-by-step guide to do a mission:
<ul>
<li>1) Be the required rank or higher.</li>
<li>2) Have any required missions completed.</li>
<li>3) Press the <a href="/game-manual/" class="con" title="Start Playing">Start Playing</a> button.</li>
<li>4) Select any <a href="/characters-and-skills/" class="con" title="characters">characters</a> involved in any missions you wish to work on.</li>
<li>5) Play the <a href="/game-manual/" class="con" title="game">game</a> normally.</li>
<li>6) Finally understand that missions are not a seperate <a href="/game-manual/" class="con" title="game">game</a> but work in the background passively.</li>
</ul>

<div class="brspacer">

	<center>
		<div class="description">
			<div class="descrtext">
				<div class="descrheader">
					<img class="pre" src="/images/pres/pre3.gif"> <a href="/the-sound-4-missions/"><h2>The Sound 4 Missions</h2></a>
				</div>
				<div class="descrcontent">
					The <a href="/the-sound-4-missions/" class="con" title="sound 4">sound 4</a> are part of the <a href="/the-sound-4-missions/" class="con" title="Sound">Sound</a> village. They are <a href="/orochimaru/" class="con" title="Orochimaru">Orochimaru</a>'s strongest team. With the following missions you are able to unlock <a href="/jiroubou/" class="con" title="Jiroubou">Jiroubou</a>, <a href="/kidoumaru/" class="con" title="Kidoumaru">Kidoumaru</a>, <a href="/tayuya/" class="con" title="Tayuya">Tayuya</a> and <a href="/sakon/" class="con" title="Sakon">Sakon</a>.
				</div>
				<div class="dots"></div>
			</div>
			<div class="descrimg">
				<img src="/images/content/49/thumbnail.jpg">
			</div>
			<div class="infolink">
				<a href="/the-sound-4-missions/"><h6>Check out the The Sound 4 Missions!</h6></a>&nbsp;
			</div>
		</div>
	</center>
	<center>
		<div class="description">
			<div class="descrtext">
				<div class="descrheader">
					<img class="pre" src="/images/pres/pre3.gif"> <a href="/serve-untill-death-missions/"><h2>Serve untill death missions</h2></a>
				</div>
				<div class="descrcontent">
					Many ninja have the goal of serving their superior. Are you able to serve untill death? With these missions you are able to unlock <a href="/momochi-zabuza/" class="con" title="Zabuza">Zabuza</a>, <a href="/kaguya-kimimaro/" class="con" title="Kimimaro">Kimimaro</a>, <a href="/yakushi-kabuto/" class="con" title="Kabuto">Kabuto</a> and <a href="/shizune/" class="con" title="Shizune">Shizune</a>.
				</div>
				<div class="dots"></div>
			</div>
			<div class="descrimg">
				<img src="/images/content/51/thumbnail.jpg">
			</div>
			<div class="infolink">
				<a href="/serve-untill-death-missions/"><h6>Check out the Serve untill death missions!</h6></a>&nbsp;
			</div>
		</div>
	</center>
	<center>
		<div class="description">
			<div class="descrtext">
				<div class="descrheader">
					<img class="pre" src="/images/pres/pre3.gif"> <a href="/the-four-teamleaders-missions/"><h2>The four teamleaders missions</h2></a>
				</div>
				<div class="descrcontent">
					After the genins are able to finish a A-Rank <a href="/mission/" class="con" title="mission">mission</a>, their teamleader will <a href="/the-basics/" class="con" title="help">help</a> and fight along with them. With these missions you are able to unlock <a href="/hatake-kakashi/" class="con" title="Kakashi">Kakashi</a>, <a href="/maito-gai/" class="con" title="Gai">Gai</a>, <a href="/yuhi-kurenai/" class="con" title="Kurenai">Kurenai</a> and <a href="/sarutobi-asuma/" class="con" title="Asuma">Asuma</a>.
				</div>
				<div class="dots"></div>
			</div>
			<div class="descrimg">
				<img src="/images/content/53/thumbnail.jpg">
			</div>
			<div class="infolink">
				<a href="/the-four-teamleaders-missions/"><h6>Check out the The four teamleaders missions!</h6></a>&nbsp;
			</div>
		</div>
	</center>
	<center>
		<div class="description">
			<div class="descrtext">
				<div class="descrheader">
					<img class="pre" src="/images/pres/pre3.gif"> <a href="/the-legendary-four-missions/"><h2>The legendary four missions</h2></a>
				</div>
				<div class="descrcontent">
					The legendary sannins are the strongest ninjas raised in Konoha using huge Summons. With these missions you are able to unlock <a href="/jiraiya/" class="con" title="Jiraiya">Jiraiya</a>, <a href="/tsunade/" class="con" title="Tsunade">Tsunade</a>, <a href="/orochimaru/" class="con" title="Orochimaru">Orochimaru</a> and <a href="/sandaime-hokage/" class="con" title="Sandaime">Sandaime</a>.
				</div>
				<div class="dots"></div>
			</div>
			<div class="descrimg">
				<img src="/images/content/55/thumbnail.jpg">
			</div>
			<div class="infolink">
				<a href="/the-legendary-four-missions/"><h6>Check out the The legendary four missions!</h6></a>&nbsp;
			</div>
		</div>
	</center>

</div>

<div class="clear"></div>

							</div>
							<div class="brspacer2">
								<div class="dots"></div>
								<div class="grey">
									<div class="centerp">
										Related subjects: <h3>ninja missions</h3>
									</div>
								</div>
							</div>
							<div class="brspacer">
								<center>
									<script type="text/javascript" language="javascript" src="http://media.fastclick.net/w/get.media?sid=19845&amp;m=1&amp;tp=5&amp;d=j&amp;t=s"></script>
									<noscript><a href="http://media.fastclick.net/w/click.here?sid=19845&m=1&c=1" target="_top">
									<img src="http://media.fastclick.net/w/get.media?sid=19845&m=1&tp=5&d=s&c=1"
									width=728 height=90 border=1 /></a></noscript>
								</center>
								<div class="brspacer">
									<center>
										Naruto-Arena.com is a fansite based on the Naruto Anime and Manga series. 
										The holders of the copyrighted and/or trademarked material appearing on this site are as follows:<br>
										NARUTO © 2002 MASASHI KISHIMOTO. All Rights Reserved.
										<div class="centerp">
											<a href="/privacy-policy/" class="con">Privacy policy</a> - 
											<a href="/legal-disclaimer/" class="con">Legal disclaimer</a> - 
											<a href="/terms-of-use/" class="con">Terms of use</a>
										</div>
									</center>
								</div>
							</div>
						</div>