<div id="content">
						<div class="brspacer">
							<h1>Pollarchive</h1><br><div id="pagepath"><a href="/">Naruto Arena</a> &gt; <a href="/main/">Main</a> &gt; <h2>Pollarchive</h2></div>
						</div>
						<div class="brspacer">

<div class="brspacer">


</div>

<% if (Object.keys(groupedPolls).length > 0) { %>
	<% Object.keys(groupedPolls).forEach(function(monthYear) { %>
	<div class="brspacer">
		<div class="title"><img class="pre" src="/images/pres/pre3.gif"> <%= monthYear %></div>
	</div>
	<div class="color2">
		<% groupedPolls[monthYear].forEach(function(poll) { %>
		<div class="archiverow">
			<img class="pre" src="/images/pres/pre.gif"> <a href="/<%= poll.slug %>/"><%= poll.question %></a> <span>on <%= poll.formattedDate %></span><br>
		</div>
		<% }); %>
	</div>
	<div class="dots"></div>
	<% }); %>
<% } else { %>
<div class="brspacer">
	No polls found.
</div>
<% } %>

						</div>
						<div class="brspacer2">
							<div class="dots"></div>
							<div class="grey">
								<div class="centerp">
									Related subjects: <h3>pollarchive</h3>, <h3>opinion</h3>, <h3>vote</h3>, <h3>polls</h3>, <h3>poll</h3>
								</div>
							</div>
						</div>
						<div class="brspacer">
							<center>
							</center>
							<div class="brspacer">
								<center>
									Naruto-Arena.com is a fansite based on the Naruto Anime and Manga series.
									The holders of the copyrighted and/or trademarked material appearing on this site are as follows:<br>
									NARUTO © 2002 MASASHI KISHIMOTO. All Rights Reserved.
									<div class="centerp">
										<a href="/privacy-policy/" class="con">Privacy policy</a> -
										<a href="/legal-disclaimer/" class="con">Legal disclaimer</a> -
										<a href="/terms-of-use/" class="con">Terms of use</a>
									</div>
								</center>
							</div>
						</div>
					</div>
