<div style="padding: 0px 0px 0px 0px;  margin:0px 0px 0px 0px; top:217px; position:absolute; background-color:white; left:200px; width:565px; line-height: 16px; border-top: 1px black solid; border-left: 1px black solid;  height:1000px;">
						<div style="padding: 0px 0px 0px 0px;  height:1000px; margin:10px 10px 10px 10px; font: normal normal normal 11px/normal Trebuchet MS, arial, verdana, sans-serif; color:#000000;">
						<h1>Terms of use</h1><br><a href='/'>Naruto Arena</a> > <a href='/main/'>Main</a> > <h2>Terms of use</h2><br><br>
<h5>Use of Naruto Arena HTML, design and content</h5><br>
By using Naruto Arena we expect that you agree to respect our efforts in creating a 100% original fansite. Therefore, you agree that you will not use any HTML, layout or design elements without permission from Naruto Arena. If it is found that you have without permission taken any content, design or HTML from Naruto Arena, we will ask that you remove it within 48 hours, or else further action will be taken.  
<br><br><h5>News Posts</h5><br>
All <a href='/news/' class="con" name="news">news</a> posted at Naruto Arena is for use on Naruto Arena only, unless a source is stated. You may take our <a href='/news/' class="con" name="news">news</a> if you so wish, we only ask that you source us back.  
<br><br><h5>Naruto Arena Image Gallery</h5><br>
Naruto Arena has an extensive image gallery with thousands of images, all the screenshots are taken by a Naruto Arena staff <a href='/profile/' class="con" name="member">member</a>. We ask that you please respect our efforts and absolutely don't use any screenshots on your own site. It is only fair, afterall each screenshotgallery takes a couple of weeks each to create. Thank you.  
<br><br><h5>Music Videos on Naruto Arena</h5><br>
All music videos featured on Naruto Arena, are property of Naruto Arena and made by a Naruto Arena staff <a href='/profile/' class="con" name="member">member</a> unless otherwise stated. We ask that you do not use these creative pieces on your website without asking for permission. However, if you do use them on your website we only ask that you provide a link back to us.  
<br><br><h5>Submissions</h5><br>
Every once in awhile we recieve fan submissions in the form of art, fan fictions and music videos. Once these are submitted to us, they become the property of Naruto Arena. By sending you are impliedly agreeing that we are free to use the item in whichever way we see fit. You also agree that we may use these on Naruto Arena.  
<br><br><h5>Multimedia and Downloads</h5><br>
For further elaboration related to issues of liability, with respect to documents available from this server, neither Naruto Arena nor its creator, its web host, sponsors and all associated parties makes any warranty, express or implied, including the warranties of merchantability and fitness for a particular purpose, or assumes any <a href='/legal-disclaimer/' class="con" name="legal">legal</a> liability or responsibility for the accuracy, completeness, or usefulness of any information, apparatus, product, or process disclosed, or represents that its use would not infringe privately owned rights.  
<br><br><h5>By downloading media you agree that:</h5><br>
<ul deprecated style="list-style-type:decimal"> 
<li>You are welcome to download media as it is made available.</li>
<li>You must have in your posession the original material.</li>
<li>If you do not have the original in your posession, delete it within 24h.</li>
<li>Naruto Arena and all associated are not responsible for your actions.</li>
<li>You're not allowed to directly link to any file/graphic or media applicant.</li>
<li>We are not liable for any damage made to your system/computer.</li>
<li>Naruto Arena is not liable for actions taken towards you.</li>
</ul><br>
For all related matters concerning aspects upon the server which specific media is made available, information from this server resides on a computer system funded by the companies and/or parties associated with it. The use of this system may be, and is, monitored for computer security purposes. Any unauthorized access(hacking) to this system is prohibited and is subject to criminal and civil penalties under Federal Laws including but not limited to Public Laws 83-703 and 99-474.  
For controversial reasons, if you are affiliated with any government, ANTI-Piracy group or any other related group, or were formally a worker of one you CANNOT enter/continue viewing this web site, cannot access any of its files and you cannot view any of the HTML files. If you enter this site you are not agreeing to these terms and you are violating code 431.322.12 of the Internet <a href='/privacy-policy/' class="con" name="Privacy">Privacy</a> Act signed by Bill Clinton in 1995 and that means that you CANNOT threaten our ISP(s) or any person(s) or company storing these files, and cannot prosecute any person(s) affiliated with this page which includes family, friends or individuals who run or enter this web site.

<center>
</center>

							<br><br><br>
							<div class="dots"></div>
							<div class="nothing">
							Pagename: <b>Terms of use</b><br>
							Description: This page contains the terms of use.<br>
							Related subjects: <h3>terms of use</h3>, <h3>terms</h3>, <h3>copyright</h3><br><br>
							Naruto-Arena.com is a fansite based on the Naruto Anime and Manga series. 
							The holders of the copyrighted and/or trademarked material appearing on this site are as follows:<br>
							NARUTO © 2002 MASASHI KISHIMOTO. All Rights Reserved.<br><br>
							<a href="/privacy-policy/" class="con">Privacy policy</a> - 
							<a href="/legal-disclaimer/" class="con">Legal disclaimer</a> - 
							<a href="/terms-of-use/" class="con">Terms of use</a>
							</div>
							<div class="dots"></div><br>
						</div>
					</div>
				</div>
			</div>