<div id="content">
							<div class="brspacer">
								<h1>The ninja ladder</h1><br><div id="pagepath"><a href="/">Naruto Arena</a> &gt; <a href="/game-manual/">Game manual</a> &gt; <h2>The ninja ladder</h2></div>
							</div>
							<div class="brspacer">
The <a href="/ninja-ladder/" class="con" title="ladder">ladder</a> is a solution for everyone who wants to compete with players around the world. It's a <a href="/ninja-ladder/" class="con" title="competition">competition</a> where you are able to test your <a href="/characters-and-skills/" class="con" title="skills">skills</a> against other players. Everyone who joins the site and plays a <a href="/game-manual/" class="con" title="game">game</a> automatically joins the <a href="/ninja-ladder/" class="con" title="ladder">ladder</a>.
<br><br><h5>Ranked / Unranked</h5><br>When you <a href="/register/" class="con" title="register">register</a> on the website, you start off with the ninjarank "Academy student". This basically means that you have not won or played any match. An Academy student is a so called unranked player.
<br><br>
Whenever you win your first <a href="/game-manual/" class="con" title="game">game</a>, you will become a "ranked" player and start at the bottom of the <a href="/ninja-ladder/" class="con" title="ladder">ladder</a>. Also, your ninjarank will most likely change to Genin (depending on the rank of your opponent). 
<br><br>
<h5>Climbing up</h5><br>
As said above, when you get ranked, you start at the bottom of the <a href="/ninja-ladder/" class="con" title="ladder">ladder</a>. Obviously, your task is to move up in the <a href="/ninja-ladder/" class="con" title="ladder">ladder</a> and become the number #1. In the <a href="/ninja-ladder/" class="con" title="ladder">ladder</a> system we created, you can move up by winning from players that have a higher rank then yourself. You then increase 25% of the difference between you and your opponent. 
<br><br>
For example: When you are ranked 1000, and you win from the player with rank 1. You will become rank 750 in the <a href="/ninja-ladder/" class="con" title="ladder">ladder</a> (The player who is rank 1 will not drop in rank, although he will get a loss added to his "total losses").
<br><br>
But, it's important to know that we don't look at the losers actual rank when making the calculation above. All players get a certain <b>ninja rank</b>. For the loser, the highest ladderrank of your <b>ninja rank</b>-group will count as the rank when making the calculation (see the bottom of this page for the different ninja ranks).
<br><br>
For example: When you are ranked 1000 and you play versus a player with the rank 150, he might be a special jounin. The highest special jounin is ranked 100. When you beat this player you will increase (1000-100)/4 ranks in the <a href="/ninja-ladder/" class="con" title="ladder">ladder</a>. This is 225 ranks in total. You will become rank 775 (1000-225).
<br><br>
<h5>The ninja ranks</h5><br>
The <a href="/ninja-ladder/" class="con" title="ladder">ladder</a> consists of 5 ninja ranks + 2 additional ranks:<br>
<img class="rank" src="/images/ninjaranks/academystudent.gif"> Academy student (additional): This ninja rank is for all the players that are <u>unranked</u>.<br>
<img class="rank" src="/images/ninjaranks/genin.gif"> Genin: This ninja rank makes the lowest 40% of the entire <a href="/ninja-ladder/" class="con" title="ladder">ladder</a>.<br>
<img class="rank" src="/images/ninjaranks/chuunin.gif"> Chuunin: The rank after Genin. This ninja rank makes the next 30% of the entire <a href="/ninja-ladder/" class="con" title="ladder">ladder</a>.<br>
<img class="rank" src="/images/ninjaranks/jounin.gif"> Special Jounin: The rank after Chuunin. This ninja rank makes the next 20% of the entire <a href="/ninja-ladder/" class="con" title="ladder">ladder</a>.<br>
<img class="rank" src="/images/ninjaranks/specialjounin.gif"> Jounin: The rank after Special Jounin. This ninja rank makes the next 8% of the entire <a href="/ninja-ladder/" class="con" title="ladder">ladder</a>.<br>
<img class="rank" src="/images/ninjaranks/sannin.gif"> Legendary Sannin: The rank afterJounin and also the highest rank achievable. This ninja rank makes the last 2% of the <a href="/ninja-ladder/" class="con" title="ladder">ladder</a>.<br>
<img class="rank" src="/images/ninjaranks/hokage.gif"> Hokage (additional): Altough this player is seen as a Legendary Sannin, the Hokage is rank for the number #1 player on the ladderrank.<br>

<div class="brspacer">


</div>

							</div>
							<div class="brspacer2">
								<div class="dots"></div>
								<div class="grey">
									<div class="centerp">
										Related subjects: <h3>the ninja ladder</h3>, <h3>ladder</h3>, <h3>competition</h3>
									</div>
								</div>
							</div>
							<div class="brspacer">
								<div class="brspacer">
									<center>
										Naruto-Arena.com is a fansite based on the Naruto Anime and Manga series. 
										The holders of the copyrighted and/or trademarked material appearing on this site are as follows:<br>
										NARUTO © 2002 MASASHI KISHIMOTO. All Rights Reserved.
										<div class="centerp">
											<a href="/privacy-policy/" class="con">Privacy policy</a> - 
											<a href="/legal-disclaimer/" class="con">Legal disclaimer</a> - 
											<a href="/terms-of-use/" class="con">Terms of use</a>
										</div>
									</center>
								</div>
							</div>
						</div>