<div id="content">
							<div class="brspacer">
								<h1>The basics</h1><br><div id="pagepath"><a href="/">Naruto Arena</a> &gt; <a href="/game-manual/">Game manual</a> &gt; <h2>The basics</h2></div>
							</div>
							<div class="brspacer">
Before you <a href="/start-playing/" class="con" title="start playing">start playing</a> it's important that you know the basics of the <a href="/game-manual/" class="con" title="game">game</a>. This page gives you an introduction to the gameplay.
<br><br>
<h5>A battle</h5><br><br>
<b>The core</b><br>
A naruto-arena.com battle is a 3 versus 3 match. Both you and your opponent select 3 <a href="/characters-and-skills/" class="con" title="characters">characters</a> that will fight till one of the teams is completely down. Each <a href="/characters-and-skills/" class="con" title="character">character</a> starts with 100 healthpoints. Your task is to get your opponent's <a href="/characters-and-skills/" class="con" title="characters">characters</a> to zero health. In order to do this, you will work out tactics and strategies to damage your opponents. 
<br><br>

By using chakra, the <a href="/characters-and-skills/" class="con" title="characters">characters</a> are able to perform <a href="/characters-and-skills/" class="con" title="skills">skills</a>. These <a href="/characters-and-skills/" class="con" title="skills">skills</a> can for example stun, defend or damage <a href="/characters-and-skills/" class="con" title="characters">characters</a> in the <a href="/game-manual/" class="con" title="game">game</a>. Each round a player can perform <b>one skill</b> with <b>each</b> <a href="/characters-and-skills/" class="con" title="character">character</a> (as long as your chakra supply allows you so). A player's turn needs to be finished within 60 seconds. Whenever a player is done selecting <a href="/characters-and-skills/" class="con" title="skills">skills</a>, he/she clicks the 'PRESS WHEN READY' button. After this, it's the opponent's turn. 
<br><br>

<b>Choosing</b> <b>skills</b><br><img src="/images/content/30/basics4.jpg" align="right">
When you are in a battle, you can select <a href="/characters-and-skills/" class="con" title="skills">skills</a> to perform. First you have to click one of the 3 <a href="/characters-and-skills/" class="con" title="characters">characters</a> you chose before the start of the match. After this you are able to select a <a href="/characters-and-skills/" class="con" title="skill">skill</a> where the chakra requirment is met. Therefore <a href="/characters-and-skills/" class="con" title="skills">skills</a> that can't be performed due to insufficient chakra will be turned grey. After you select a <a href="/characters-and-skills/" class="con" title="skill">skill</a>, certain <a href="/characters-and-skills/" class="con" title="characters">characters</a> will have a yellow overlay. When the overlay is fading it means that you have to choose between certain <a href="/characters-and-skills/" class="con" title="characters">characters</a>. When the overlay is not fading you can simply click the <a href="/characters-and-skills/" class="con" title="character">character</a> that you wish to target. When you want to remove a <a href="/characters-and-skills/" class="con" title="skill">skill</a>, you can click on the slots near the <a href="/characters-and-skills/" class="con" title="character">character</a>'s avatar. The chakra is then of course re-added to your chakra pool. 
<br><br>
<b>Chakra</b><br>
At the start of a battle, one of the players will get 1 chakra. This is the player that is able to do the first move. When his turn is over, the opponent starts off 3 chakra. After the first round, both players will recieve 1 chakra for every <a href="/characters-and-skills/" class="con" title="character">character</a> that is alive in their team. The player gets his/her chakra at the start of each turn. Chakra that is not used will still be available during the next rounds. Please note that the black T Symbol represents the sum of all your chakra. It is an indicator of how much ?random? chakra you have.
<br><br>
<h5>Chakra types</h5><br>
As mentioned above chakra is used to perform <a href="/characters-and-skills/" class="con" title="skills">skills</a>. Every <a href="/characters-and-skills/" class="con" title="skill">skill</a> uses a different set of chakra.<br>
There are 4 types of chakra:<br>
<img src="/images/chakra/bloodline.gif" class="chakra"> Bloodine<br>
<img src="/images/chakra/ninjutsu.gif" class="chakra"> Ninjutsu<br>
<img src="/images/chakra/taijutsu.gif" class="chakra"> Taijutsu<br>
<img src="/images/chakra/genjutsu.gif" class="chakra"> Genjutsu<br>
<br>
The chance to get a certain chakra is 25% for each, as there are four types. This means that it is random, and that you can also get multiple chakras of one type. Next to these 4 types, some <a href="/characters-and-skills/" class="con" title="skills">skills</a> require random chakra <img src="/images/chakra/random.gif" class="chakra">. This kind of chakra can be filled in by any of the types above. At the end of a player's turn he or she is able to choose what type of chakra the 'random chakra(s)' will stand for. You simply click on the + next to the chakra type you want to use. Of course, - is used to get these chakra back into your chakra pool, if you feel you've made a wrong desicion.
<br><center><img src="/images/content/30/basics2.jpg"></center>
<br><br>
<h5>Selecting your team</h5><br><img src="/images/content/30/basics1.jpg" align="right">
Naruto-Arena.com focuses on tactics and team strategies. Selecting the right team is an essential part of the <a href="/game-manual/" class="con" title="game">game</a>. You are going to create and form teams of three <a href="/characters-and-skills/" class="con" title="characters">characters</a>. These <a href="/characters-and-skills/" class="con" title="characters">characters</a> should be able to work well together, based on chakra requirement and how some <a href="/characters-and-skills/" class="con" title="skills">skills</a> may back eachother up. While playing the <a href="/game-manual/" class="con" title="game">game</a> you will see different strategies done by different teams. Your task is to <a href="/search/" class="con" title="find">find</a> the best tactic and train yourself into how to pull it off. 
<br><br>
Check the <a href="/faq/" class="con" title="FAQ">FAQ</a> if you have more <a href="/faq/" class="con" title="questions">questions</a>.
<div class="dots"></div>

<div class="brspacer">


</div>

							</div>
							<div class="brspacer2">
								<div class="dots"></div>
								<div class="grey">
									<div class="centerp">
										Related subjects: <h3>the basics</h3>, <h3>basics</h3>, <h3>help</h3>
									</div>
								</div>
							</div>
							<div class="brspacer">
								<center>
									<script type="text/javascript" language="javascript" src="http://media.fastclick.net/w/get.media?sid=19845&amp;m=1&amp;tp=5&amp;d=j&amp;t=s"></script>
									<noscript><a href="http://media.fastclick.net/w/click.here?sid=19845&m=1&c=1" target="_top">
									<img src="http://media.fastclick.net/w/get.media?sid=19845&m=1&tp=5&d=s&c=1"
									width=728 height=90 border=1 /></a></noscript>
								</center>
								<div class="brspacer">
									<center>
										Naruto-Arena.com is a fansite based on the Naruto Anime and Manga series. 
										The holders of the copyrighted and/or trademarked material appearing on this site are as follows:<br>
										NARUTO © 2002 MASASHI KISHIMOTO. All Rights Reserved.
										<div class="centerp">
											<a href="/privacy-policy/" class="con">Privacy policy</a> - 
											<a href="/legal-disclaimer/" class="con">Legal disclaimer</a> - 
											<a href="/terms-of-use/" class="con">Terms of use</a>
										</div>
									</center>
								</div>
							</div>
						</div>