<div
    style="padding: 0px 0px 0px 0px;  margin:0px 0px 0px 0px; top:217px; position:absolute; background-color:white; left:200px; width:565px; line-height: 16px; border-top: 1px black solid; border-left: 1px black solid;  height:1000px;">
    <div
        style="padding: 0px 0px 0px 0px;  height:1000px; margin:10px 10px 10px 10px; font: normal normal normal 11px/normal Trebuchet MS, arial, verdana, sans-serif; color:#000000;">
        <h1>Game manual</h1><br><a href='/'>Naruto Arena</a> > <h2>Game manual</h2><br><br>


        <center>
            <div style="width:70%;" align="left">
                <a href="/latest-balance-changes/">
                    <h2>Latest balance changes</h2>
                </a>
                <div class="dots"></div>
                <div class="color2" align="left" style="padding:3px;">
                    <img border="0" align="right" src="/images/content/32/thumbnail.jpg" vspace="5" hspace="5">We are
                    constantly trying to balance this game. On this page you will find all the latest balance changes
                    listed.<br clear="all">
                </div>
                <div class="dots"></div>
                <div align="right">
                    <a href="/latest-balance-changes/">
                        <h6>Read more about Latest balance changes</h6>
                    </a>
                </div>
            </div><br />
            <div style="width:70%;" align="left">
                <a href="/faq/">
                    <h2>FAQ</h2>
                </a>
                <div class="dots"></div>
                <div class="color2" align="left" style="padding:3px;">
                    <img border="0" align="right" src="/images/content/33/thumbnail.jpg" vspace="5" hspace="5">Always
                    check this section before asking any question! This section contains the most frequently asked
                    questions.<br clear="all">
                </div>
                <div class="dots"></div>
                <div align="right">
                    <a href="/faq/">
                        <h6>Read more about FAQ</h6>
                    </a>
                </div>
            </div><br />
            <div style="width:70%;" align="left">
                <a href="/the-basics/">
                    <h2>The basics</h2>
                </a>
                <div class="dots"></div>
                <div class="color2" align="left" style="padding:3px;">
                    <img border="0" align="right" src="/images/content/30/thumbnail.jpg" vspace="5" hspace="5">Before
                    you start playing it's important that you know the basics of the game. This page gives you an
                    introduction to the gameplay.<br clear="all">
                </div>
                <div class="dots"></div>
                <div align="right">
                    <a href="/the-basics/">
                        <h6>Read more about The basics</h6>
                    </a>
                </div>
            </div><br />
            <div style="width:70%;" align="left">
                <a href="/characters-and-skills/">
                    <h2>Characters & Skills</h2>
                </a>
                <div class="dots"></div>
                <div class="color2" align="left" style="padding:3px;">
                    <img border="0" align="right" src="/images/content/31/thumbnail.jpg" vspace="5" hspace="5">Naruto
                    Arena focuses on characters and skills. In this guide you will see all of them plus you are able to
                    discuss about them.<br clear="all">
                </div>
                <div class="dots"></div>
                <div align="right">
                    <a href="/characters-and-skills/">
                        <h6>Read more about Characters & Skills</h6>
                    </a>
                </div>
            </div><br />
            <div style="width:70%;" align="left">
                <a href="/the-ninja-ladder/">
                    <h2>The ninja ladder</h2>
                </a>
                <div class="dots"></div>
                <div class="color2" align="left" style="padding:3px;">
                    <img border="0" align="right" src="/images/content/29/thumbnail.jpg" vspace="5" hspace="5">The
                    ladder is a solution for everyone who wants to compete with players around the world. This section
                    contains all the information you need to know about the ninjaladder.<br clear="all">
                </div>
                <div class="dots"></div>
                <div align="right">
                    <a href="/the-ninja-ladder/">
                        <h6>Read more about The ninja ladder</h6>
                    </a>
                </div>
            </div><br />
        </center>

        <br><br><br>
        <div class="dots"></div>
        <div class="nothing">
            Pagename: <b>Game manual</b><br>
            Description: This manual gives you all information about the game itself.<br>
            Related subjects: <h3>game manual</h3>, <h3>manual</h3>, <h3>howto</h3>, <h3>start playing</h3>, <h3>game
            </h3><br><br>
            Naruto-Arena.com is a fansite based on the Naruto Anime and Manga series.
            The holders of the copyrighted and/or trademarked material appearing on this site are as follows:<br>
            NARUTO © 2002 MASASHI KISHIMOTO. All Rights Reserved.<br><br>
            <a href="/privacy-policy/" class="con">Privacy policy</a> -
            <a href="/legal-disclaimer/" class="con">Legal disclaimer</a> -
            <a href="/terms-of-use/" class="con">Terms of use</a>
        </div>
        <div class="dots"></div><br>
    </div>
</div>
</div>
</div>