<div
    style="padding: 0px 0px 0px 0px;  margin:0px 0px 0px 0px; top:217px; position:absolute; background-color:white; left:200px; width:565px; line-height: 16px; border-top: 1px black solid; border-left: 1px black solid;  height:1000px;">
    <div
        style="padding: 0px 0px 0px 0px;  height:1000px; margin:10px 10px 10px 10px; font: normal normal normal 11px/normal Trebuchet MS, arial, verdana, sans-serif; color:#000000;">
        <h1>Latest balance changes</h1><br><a href='/'>Naruto Arena</a> > <a href='/game-manual/'>Game manual</a> > <h2>
            Latest balance changes</h2><br><br>
        <%- balanceChangesContent %>

            <center>
            </center>

            <br><br><br>
            <div class="dots"></div>
            <div class="nothing">
                Pagename: <b>Latest balance changes</b><br>
                Description: We are constantly trying to balance this game. On this page you will find all the latest
                balance changes listed.<br>
                Related subjects: <h3>latest balance changes</h3>, <h3>balance changes</h3><br><br>
                Naruto-Arena.com is a fansite based on the Naruto Anime and Manga series.
                The holders of the copyrighted and/or trademarked material appearing on this site are as follows:<br>
                NARUTO © 2002 MASASHI KISHIMOTO. All Rights Reserved.<br><br>
                <a href="/privacy-policy/" class="con">Privacy policy</a> -
                <a href="/legal-disclaimer/" class="con">Legal disclaimer</a> -
                <a href="/terms-of-use/" class="con">Terms of use</a>
            </div>
            <div class="dots"></div><br>
    </div>
</div>
</div>
</div>