/* LINKS */
A {
	text-decoration: none;
	color: #052D33;
}

#nav A:link {
	color: white;
	text-decoration: underline;
}

#nav A:visited {
	color: white;
	;
	text-decoration: underline;
}

#nav A:hover {
	color: white;
	text-decoration: underline;
}

#nav A:active {
	color: white;
	text-decoration: underline;
}

A.con:link {
	color: #280092;
	text-decoration: none;
}

A.con:visited {
	color: #280092;
	text-decoration: none;
}

A.con:hover {
	color: #280092;
	text-decoration: underline;
}

A.con:active {
	color: #280092;
	text-decoration: none;
}

/* END LINKS */

/* TABLES */
table {
	font: normal normal normal 11px/normal Trebuchet MS, arial, verdana, sans-serif;
	color: #052D33;
}

/* NO SPACING/BORDER TABLE */
table.none {
	border-spacing: 0px;
	border-collapse: collapse;
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
}

/* END NO SPACING/BORDER TABLE */
/* END TABLES */

/* FORMS */
form {
	font: normal normal normal 11px/normal Trebuchet MS, arial, verdana, sans-serif;
	margin: 0px;
	padding: 0px;
}

ul {
	padding-left: 50px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	margin: 0px;
}

input {
	font: normal normal normal 11px/normal Trebuchet MS, arial, verdana, sans-serif;
	color: #052D33;
	background: #FFFFFF;
	margin: 0px;
	border-top: 1px inset #0E353A;
	border-bottom: 1px outset #0E353A;
	border-right: 1px outset #0E353A;
	border-left: 1px inset #0E353A;
	height: 20px;
}

input.box {
	font: normal normal normal 11px/normal Trebuchet MS, arial, verdana, sans-serif;
	color: #052D33;
	background-color: #FFFFFF;
	height: 20px;
	border-top: none;
	border-bottom: none;
	border-right: none;
	border-left: none;
	margin: 0px;
}

input.boxnav {
	font: normal normal normal 11px/normal Trebuchet MS, arial, verdana, sans-serif;
	color: #052D33;
	background-color: #1a99ea;
	height: 20px;
	border-top: none;
	border-bottom: none;
	border-right: none;
	border-left: none;
	margin: 0px;
}

select {
	font: normal normal normal 11px/normal Trebuchet MS, arial, verdana, sans-serif;
}

textarea {
	font: normal normal normal 11px/normal Trebuchet MS, arial, verdana, sans-serif;
}

/* END FORM OBJECTS */

/* TEXT ALIGNS */

p {
	width: 100%;
	margin: 0px;
	padding: 0px;
}

div.left {
	float: left;
	text-align: left;
}

div.gallerycenter {
	float: left;
	text-align: center;
}

div.galleryleft {
	float: left;
	text-align: left;
}

div.center {
	text-align: center;
	width: 100%;
}

div.right {
	float: right;
	text-align: right;
}

/* END TEXT ALIGNS */

/* COLORED TEXT */
/* MAIN COLORED TEXT */

font.colored {
	font: normal normal normal 11px/normal Trebuchet MS, arial, verdana, sans-serif;
	color: #280092;
	font-weight: bold;
}

font.coloredsmall {
	font: normal normal normal 11px/normal Trebuchet MS, arial, verdana, sans-serif;
	color: #280092;
	font-weight: bold;
}

h1 {
	display: inline;
	font: normal normal normal 16px/normal Trebuchet MS, arial, verdana, sans-serif;
	color: #280092;
	font-weight: bold;
}

h2 {
	display: inline;
	font: normal normal normal 11px/normal Trebuchet MS, arial, verdana, sans-serif;
	color: #F89700;
	font-weight: bold;
}

h3 {
	display: inline;
	font: normal normal normal 11px/normal Trebuchet MS, arial, verdana, sans-serif;
	font-style: italic;
	color: #999999;
}

h4 {
	display: inline;
	font: normal normal normal 16px/normal Trebuchet MS, arial, verdana, sans-serif;
	color: white;
	font-weight: bold;
}

h5 {
	display: inline;
	font: normal normal normal 11px/normal Trebuchet MS, arial, verdana, sans-serif;
	color: #F89700;
	font-weight: bold;
}

h6 {
	display: inline;
	font: normal normal normal 11px/normal Trebuchet MS, arial, verdana, sans-serif;
	color: #280092;
	font-weight: bold;
}

h7 {
	display: inline;
	font: normal normal normal 18px/normal Trebuchet MS, arial, verdana, sans-serif;
	color: red;
	font-weight: bold;
}

/* END MAIN COLORED TEXT */

/* ERROR TEXT */
div.error {
	color: red;
	font-weight: bold;
	text-align: left;
}

.error {
	color: red;
}

/* END ERROR TEXT */

/* 'NOTHING' TEXT */
div.nothing {
	color: #808080;
	font-style: italic;
	text-align: left;
}

.nothing {
	color: #808080;
	font-style: italic;
}

/* END 'NOTHING' TEXT */

/* SUCCESFULL TEXT */
div.succesfull {
	color: Green;
	font-weight: bold;
	text-align: center;
}

.succesfull {
	color: Green;
}

/* END SUCCESFULL TEXT */
/* END COLORED MESSAGES */

/* COLORED TD */
td.colored {
	background-color: #F89C0C;
}

/* COLORED TD */

/* COLORED TD */
div.color {
	background-color: #F1F1F9;
}

/* COLORED TD */

/* NEWS TD */
td.news {
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 2px;
	padding-bottom: 2px;
}

/* NEWS TD */

/* HIDED DIV */
div.hided {
	height: 1px;
	width: 1px;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	overflow: hidden;
	font-size: xx-small;
}

/* END HIDED DIV */

body.index {
	margin: 0px 0px 0px 0px;
	background-image: url(../images/layout/background.gif);
	background-attachment: fixed;
	background-repeat: repeat-y;
	background-position: top;
	background-position: center;
	background-color: #CFD9E3;
	font: normal normal normal 11px/normal Trebuchet MS, arial, verdana, sans-serif;
	line-height: 16px;
	color: #052D33;
}

body.indexmain {
	margin: 0px 0px 0px 0px;
	background-image: url(../images/layout/background2.gif);
	background-attachment: fixed;
	background-repeat: repeat-y;
	background-position: top;
	background-position: center;
	background-color: #CFD9E3;
	font: normal normal normal 11px/normal Trebuchet MS, arial, verdana, sans-serif;
	line-height: 16px;
	color: #052D33;
}

div.main {
	width: 769px;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}

div.header {
	position: relative;
	width: 769px;
	height: 249px;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	text-align: left;
	background-image: url(http://naruto-arena.com/images/layout/banner.jpg);
}

div.episode {
	position: absolute;
	top: 167px;
	left: 246px;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	width: 125px;
	height: 76px;
	cursor: pointer;
}

div.chapter {
	position: absolute;
	top: 167px;
	left: 372px;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	width: 125px;
	height: 76px;
	cursor: pointer;
}

div.topsite {
	position: absolute;
	top: 167px;
	left: 624px;
	margin: 0px 0px 0px 0px;
	color: #332E35;
	font-family: Trebuchet MS, arial, verdana, sans-serif;
	font-size: 11px;
	padding: 0px 0px 0px 0px;
	width: 125px;
	height: 76px;
}

div.topfeature {
	position: absolute;
	top: 167px;
	left: 498px;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	width: 125px;
	height: 76px;
	cursor: pointer;
}


div.topnav {
	background-image: url(http://naruto-arena.com/images/layout/topnav.jpg);
	width: 155px;
	height: 29px;
}

div.navbg {
	width: 155px;
	text-align: left;
}

div.category {
	padding-left: 17px;
	padding-top: 5px;
	color: #3B4956;
	font-family: Trebuchet MS, arial, verdana, sans-serif;
	font-size: 11px;
	background-image: url(http://naruto-arena.com/images/layout/navbackground.gif);
}

div.content {
	float: left;
	background-color: #ECECEC;
	width: 481px;
	color: #332E35;
	font-family: Trebuchet MS, arial, verdana, sans-serif;
	font-size: 11px;
}

div.centerlay {
	background-color: #ECECEC;
	width: 481px;
	color: #332E35;
	font-family: Trebuchet MS, arial, verdana, sans-serif;
	font-size: 11px;
	float: left;
}

div.poll {
	color: #3B4956;
	font-family: Trebuchet MS, arial, verdana, sans-serif;
	font-size: 11px;
}

div.pollbar {
	height: 6px;
	padding: 0px 0px 0px 0px;
	margin: 1px 0px 1px 0px;
	border: 0px solid black;
	color: #F89C0C;
	background-color: #F89C0C;
	font-size: 1px;
}

div.pollbarbg {
	height: 6px;
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
	border: 0px solid black;
	color: #E8E8E8;
	background-color: #E8E8E8;
	font-size: 1px;
	width: 100%;
}

div.contentlay {
	width: 459px;
	min-height: 1200px;
}

div.leftlay {
	float: left;
	width: 155px;
	height: auto;
	background-color: #CCCCCC;
}

div.rightlay {
	float: left;
	width: 133px;
}

div.padding {
	margin: 4px 4px 4px 4px;
	padding: 7px 7px 7px 7px;
	background-color: #FFFFFF;
	text-align: left;
}

div.padding2 {
	margin: 4px 4px 4px 4px;
	padding: 7px 7px 7px 7px;
	background-color: #FFFFFF;
	text-align: center;
	font-size: 11px;
}


div.rightnav {
	margin: 4px 11px 4px 0px;
	background-color: #FFFFFF;
	text-align: center;
	color: #332E35;
	font-family: Trebuchet MS, arial, verdana, sans-serif;
	font-size: 11px;
}

/* COLORED CONTENT TABLES */
/* TABLE */
table.color {
	background-color: transparent;
	color: #052D33;
	font: normal normal normal 11px/normal Trebuchet MS, arial, verdana, sans-serif;
	border-spacing: 2px;
}

/* END TABLE */

/* TITLE */
.title {
	background-image: url(../images/layout/dots.gif);
	background-position: bottom left;
	background-repeat: repeat-x;
	color: #F89C0C;
	font: normal normal bold 11px/normal Trebuchet MS, arial, verdana, sans-serif;
	height: 16px;
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
}

font.title {
	color: #F89C0C;
	font: normal normal bold 11px/normal Trebuchet MS, arial, verdana, sans-serif;
}

font.titlenobold {
	color: #F89C0C;
	font: normal normal normal 11px/normal Trebuchet MS, arial, verdana, sans-serif;
}

.title {
	background-image: url(../images/layout/dots.gif);
	background-position: bottom left;
	background-repeat: repeat-x;
	color: #F89C0C;
	font: normal normal bold 11px/normal Trebuchet MS, arial, verdana, sans-serif;
	height: 16px;
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
}

/* END TITLE */

/* ROW/CEL COLORED #1 */
.color1 {
	background-color: #F0F0F0;
	color: #052D33;
	font: normal normal normal 11px/normal Trebuchet MS, arial, verdana, sans-serif;
}

/* END ROW/CEL COLORED #1 */

/* ROW/CEL COLORED #2 */
.color2 {
	background-color: #fafafa;
	color: #052D33;
	font: normal normal normal 11px/normal Trebuchet MS, arial, verdana, sans-serif;
}

/* END ROW/CEL COLORED #2 */
/* END COLORED CONTENT TABLES */

/* DOTTED CONTENT ROWS&CELS */
td.dots {
	padding: 0px;
	background-image: url(../images/layout/dots.gif);
	background-position: bottom left;
	background-repeat: repeat-x;
}

div.dots {
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
	background-image: url(../images/layout/dots.gif);
	height: 1px;
	background-position: bottom left;
	background-repeat: repeat-x;
	font-size: 1px;
}

tr.dots {
	background-image: url(../images/layout/dots.gif);
	background-position: bottom left;
	background-repeat: repeat-x;
}

/* END DOTTED CONTENT ROWS&CELS */

/* QUOTES */
div.quote1 {
	margin-top: 5px;
	margin-bottom: 7px;
	margin-left: 25px;
	width: 100%;
	margin-right: 25px;
	font-weight: bold;
}

div.quote2 {
	padding: 3px;
	font-weight: normal;
	background-color: #F5F6F6;
	border: 1px solid #484848;
}

/* END QUOTES */

/* LEGENDS & FIELDSET COMBINATION */
/* LEGEND */
legend {
	font: normal normal normal 11px/normal Trebuchet MS, arial, verdana, sans-serif;
	color: #F89700;
	font-weight: bold;
}

/* END LEGEND */

/* FIELDSET */
fieldset {
	margin: 0px 5px 5px 5px;
	border: 1px solid;
	padding: 0px 5px 5px 5px;
}

/* END FIELDSET */
/* END LEGENDS & FIELDSET COMBINATION */

/* IMAGES */
/* LEFT CONTENT IMAGE */
img.border {
	border: 1px solid black;
}

/* LEFT CONTENT IMAGE */
img {
	border: 0px none black;
}

/* LEFT CONTENT IMAGE */
img.left {
	float: left;
	margin-right: 20px;
	border: 0px none black;
}

/* END LEFT CONTENT IMAGE */
/* RIGHT CONTENT IMAGE */
img.right {
	float: right;
	margin-left: 20px;
	border: 0px none black;
}

/* END RIGHT CONTENT IMAGE */
/* PRE CONTENT IMAGE */
img.pre {
	margin-top: -6px;
	border: 0px none black;
}

/* PRE RIGHT CONTENT IMAGE */
/* SMILIE IMAGE */
img.smilie {
	margin-bottom: -3px;
	border: 0px none black;
}

/* SMILIE IMAGE */
/* RANK IMAGE */
img.rank {
	margin-bottom: -5px;
	border: 0px none black;
}

/* RANK IMAGE */
/* CHAKRA IMAGE */
img.chakra {
	margin-bottom: -1px;
}

/* CHAKRA IMAGE */

/* IMAGES */

/* SCORE LISTING */
/* SCORE NUMBER CEL */
td.score {
	width: 100px;
	font: normal normal normal 30px/normal Trebuchet MS, arial, verdana, sans-serif;
	color: #280092;
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
}

a.score {
	width: 100px;
	font: normal normal normal 30px/normal Trebuchet MS, arial, verdana, sans-serif;
	color: #280092;
}

/* SCORE LISTING */
/*
     FILE ARCHIVED ON 05:43:35 Jul 04, 2006 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 18:58:05 Jan 30, 2026.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 2.379
  exclusion.robots: 0.029
  exclusion.robots.policy: 0.013
  esindex: 0.044
  cdx.remote: 350.409
  LoadShardBlock: 456.758 (3)
  PetaboxLoader3.datanode: 239.927 (4)
  PetaboxLoader3.resolve: 114.255
  load_resource: 68.346
*/