<h4 class="block">Admin Options</h4>
<% if (locals.role==='admin' ) { %>
    <a href="/admin/characters"><u>Manage Characters</u></a><br>
    <a href="/admin/users"><u>Manage Users</u></a><br>
    <% } %>

        <% if (locals.role==='admin' || locals.role==='moderator' ) { %>
            <a href="/admin/polls"><u>Manage Polls</u></a><br>
            <a href="/admin/news"><u>Manage News</u></a><br>
            <a href="/admin/balance-changes"><u>Manage Balance Changes</u></a><br>
            <a href="/admin/mission-categories"><u>Manage Mission Categories</u></a><br>
            <a href="/admin/missions"><u>Manage Missions</u></a><br>
            <% } %>
                <br>