<!-- LAYOUT: CHANGING HEADER -->
<div
    style="padding: 0px 0px 0px 0px; margin:0px 0px 0px 0px; top:74px; position:absolute; left:390px; width:395px; height:144px; background-image:url(/images/randomheader/<%= randomHeaderImage %>); background-repeat:no-repeat; background-color:black;">
</div>