<div id="logo">
    <div id="mainnavigation">
        <a href="/">
            <img src="/images/content/40/navigation.gif" />
        </a>
        <a href="#" onClick="popup_page('http://localhost:3000/game/','','790','560')">
            <img src="/images/content/41/navigation.gif" />
        </a>
        <a href="/game-manual/">
            <img src="/images/content/28/navigation.gif" />
        </a>
        <a href="/ladders/">
            <img src="/images/content/39/navigation.gif" />
        </a>
        <a href="/ninja-missions/">
            <img src="/images/content/45/navigation.gif" />
        </a>
        <a href="/contact-and-chat/">
            <img src="/images/content/46/navigation.gif" />
        </a>
    </div>
</div>