<h4 class="block">Random Screenshot</h4>
<a onclick="popup_image('/images/randomscreenshot/<%= randomScreenshot %>','Random screenshot','770','560')" style="cursor:pointer;">
    <img src="/images/randomscreenshot/thumbnails/<%= randomScreenshot %>">
</a>
