<h4>Random Screenshot</h4><br>
<a onclick="popupwindow('/images/randomscreenshot/<%= randomScreenshot %>','Random screenshot','770','560')">
    <img src="/images/randomscreenshot/thumbnails/<%= randomScreenshot %>" style="margin-top:5px; cursor:pointer;"></a>