<h4 class="block">Random Screenshot</h4>
<a onclick="popupwindow('/images/randomscreenshot/<%= randomScreenshot %>','Random screenshot','770','560')">
    <img src="/images/randomscreenshot/thumbnails/<%= randomScreenshot %>">
</a>
