<div id="rightlay" class="leftlaymargin">
    <div class="nav">
        <%- include('./random_screenshot') %>
        <div class="brspacer">
            <h4 class="block">First time playing?</h4>
            <b>Note:</b> If this is your first time playing, be sure to check out the <a href="/the-basics/"><b>The Basics</b></a> before you start battling.
        </div>
        <%- include('./ladder_top10') %>
        <%- include('./top_wins') %>
        <%- include('./top_streak') %>
        <div class="cbrspacer">
            <h4 class="block">Version Info</h4>
            BETA 3.0
        </div>
    </div>
</div>
