<div class="brspacer">
	<h4 class="block">Search function</h4>
	<script type="text/javascript" language="javascript">
		function gosearchbar(){
			var searchvalue = document.searchbar.searchquery.value;
			if (searchvalue != ""){
				var completeurl = "/search/" + searchvalue + "/";
			}else{
				var completeurl = "/search/";
			}
			window.location = completeurl;
		}
	</script>
	<form action="" method="GET" name="searchbar" onsubmit="event.preventDefault(); gosearchbar();">
		<label for="searchquery"><b>Search the entire site:</b></label><br />
		<div class="fleft">
			<input type="text" size="15" name="searchquery" id="searchquery" onKeyDown="if(event.keyCode==13) event.keyCode=9; if(event.keyCode==9) gosearchbar();" />
		</div>
		<div class="fleft">
			&nbsp;<a href="#" onClick="gosearchbar()"><b>GO</b></a>
		</div>
		<div class="clear"></div>
	</form>
	<a href="/sitemap/" name="sitemap"><b>Search the Sitemap</b></a>
</div>