<h4>Search function</h4><br>
Search the entire site:
<script language="javascript">

	function gosearchbar() {
		var searchvalue = document.searchbar.searchquery.value;
		if (searchvalue != "") {
			var completeurl = "/search/" + searchvalue + "/";
		} else {
			var completeurl = "/search/";
		}
		window.location = completeurl;
	}

</script>
<form method='GET' name='searchbar' onsubmit="event.preventDefault(); gosearchbar();">
	<b>SEARCH</b> <input type="text" size="15" name="searchquery" onKeyDown="if(event.keyCode==13) gosearchbar();">
	<a href="#" onClick="gosearchbar()"><b>GO</b></a>
</form>
Search the <a href="/sitemap/" name="sitemap">Sitemap</a>