<div class="brspacer">
    <h4 class="block">Statistics</h4>
    <div class="marker">
        <b>Members:</b>
        <br />Total members: <span><%= statistics.totalMembers %></span>
        <br /><a href="/memberlist/" class="statlinks">Show memberlist</a>

        <br /><b>Online:</b>
        <br />Admins online: <span><%= statistics.adminsOnline %></span>
        <br />Moderators online: <span><%= statistics.moderatorsOnline %></span>
        <br />Members online: <span><%= statistics.membersOnline %></span>
        <br /><a href="/users-online/" class="statlinks">Show users online</a>
        <br><br>
    </div>
</div>