<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">

<head>
  <title>Naruto Arena IRC Channel - Naruto Arena</title>
  <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
  <meta http-equiv="content-language" content="">
  <meta name="description" content="Naruto Arena IRC Channel - Naruto-Arena has opened up its own official IRC chat channel. This will give our members the opportunity to talk freely to eachother.">
  <meta name="keywords" content="naruto arena irc channel, irc, channel, server, chat, chatroom">
  <meta name="resource-type" content="document">
  <meta name="distribution" content="Global">
  <meta name="copyright" content="Naruto-Arena.com">
  <meta name="robots" content="Index,Follow">
  <meta name="rating" content="General">
  <meta name="revisit-after" content="1 day">
  <link rel="stylesheet" type="text/css" href="/includes/include-style.css">
  <link rel="shortcut icon" href="/favicon.ico">
  <script type="text/javascript" language="javascript" src="/includes/include-javascript.js"></script>
</head>

<body class="sitebg1">
    <center>
        <div id="layoutcont">
            <div id="advertisement"></div>
            <div id="layout" class="sitebg1">
                <%- include('partials/navigation') %>
                    <%- include('partials/header_random') %>
                        <div id="sitenavigation2">
                            <%- include('partials/left_sidebar') %>
                        </div>
                        <div id="container2">
                            <%- include('partials/content/naruto_arena_irc_channel') %>
                        </div>

            </div>
        </div>
    </center>
</body>

</html>