<div style="padding: 0px 0px 0px 0px;  margin:0px 0px 0px 0px; top:217px; position:absolute; background-color:white; left:200px; width:565px; line-height: 16px; border-top: 1px black solid; border-left: 1px black solid;  height:1000px;">
						<div style="padding: 0px 0px 0px 0px;  height:1000px; margin:10px 10px 10px 10px; font: normal normal normal 11px/normal Trebuchet MS, arial, verdana, sans-serif; color:#000000;">
						<h1>Contact</h1><br><a href='/'>Naruto Arena</a> > <a href='/main/'>Main</a> > <h2>Contact</h2><br><br>
Ok, we know a lot of people have suggestions to improve the <a href='/game-manual/' class="con" name="game">game</a>. Since we are still in the progress of fulfilling our starting goals it's hard to answer <a href='/faq/' class="con" name="questions">questions</a> about whether a certain feature will or will not come.
<br><br>
To answer <a href='/faq/' class="con" name="questions">questions</a>, handle of bugs and give personal support we use our Private Message script as our <a href='/main/' class="con" name="main">main</a> communication medium. When it turns out that additional <a href='/the-basics/' class="con" name="help">help</a> is needed we can use MSN Messenger: <a class="con"  href="mailto:naruto-arena@hotmail.com">naruto-arena@hotmail.com</a>.
<br><br>
The staff currently consists of three people. Please note that all <a href='/profile/' class="con" name="admin">admin</a>s have their speciality. Ask the right <a href='/faq/' class="con" name="questions">questions</a> to the right person(s) to get valid answers!
<br><br>
<b>Gametester & Mark</b><br>
Bugs, problems and general <a href='/faq/' class="con" name="questions">questions</a> regarding the website & <a href='/game-manual/' class="con" name="game">game</a>.
<br><br>
<a class="con" href="/private-messages/send/gametester/">PM</a> <a class="con" href="/private-messages/send/gametester/">Gametester</a><br>
<a class="con" href="/private-messages/send/mark/">PM Mark</a>
<br><br>
<b>Xander</b><br>
Balancing issues, suggestions and <a href='/faq/' class="con" name="questions">questions</a> regarding <a href='/characters-.and.-skills/' class="con" name="character">character</a> & <a href='/characters-.and.-skills/' class="con" name="skills">skills</a>. 
<br><br>
<a class="con" href="/private-messages/send/xander/">PM Xander</a>
<br><br>
MSN Messenger: <a class="con"  href="mailto:naruto-arena@hotmail.com">xander@naruto-arena.com</a>

<center>
</center>

							<br><br><br>
							<div class="dots"></div>
							<div class="nothing">
							Pagename: <b>Contact</b><br>
							Description: Get in contact with us.<br>
							Related subjects: <h3>contact</h3>, <h3>contact</h3>, <h3>e-mail</h3>, <h3>questions</h3>, <h3>answers</h3><br><br>
							Naruto-Arena.com is a fansite based on the Naruto Anime and Manga series. 
							The holders of the copyrighted and/or trademarked material appearing on this site are as follows:<br>
							NARUTO © 2002 MASASHI KISHIMOTO. All Rights Reserved.<br><br>
							<a href="/privacy-policy/" class="con">Privacy policy</a> - 
							<a href="/legal-disclaimer/" class="con">Legal disclaimer</a> - 
							<a href="/terms-of-use/" class="con">Terms of use</a>
							</div>
							<div class="dots"></div><br>
						</div>
					</div>
				</div>
			</div>