<div
    style="padding: 0px 0px 0px 0px;  margin:0px 0px 0px 0px; top:217px; position:absolute; background-color:white; left:200px; width:565px; line-height: 16px; border-top: 1px black solid; border-left: 1px black solid;  height:1000px;">
    <div
        style="padding: 0px 0px 0px 0px;  height:1000px; margin:10px 10px 10px 10px; font: normal normal normal 11px/normal Trebuchet MS, arial, verdana, sans-serif; color:#000000;">
        <h1>Lost password</h1><br><a href='/'>Naruto Arena</a> > <a href='/main/'>Main</a> > <h2>Lost password</h2>
        <br><br>


        <center>
        </center>

        <% if (locals.passwordReset) { %>
            <div class="succesfull">Your password has been successfully updated.</div><br>
            <span class="nothing">You can now log in with your new password.</span><br>
            Click <a href="/login"><u>here</u></a> to log in.
            <% } else { %>
                <% if (locals.error) { %>
                    <div class="error">
                        <%= error %>
                    </div><br>
                    <% } %>
                        <form method="post">
                            <table class="color" width="100%">
                                <tr>
                                    <td colspan="2" class="title"><b>New Password</b></td>
                                </tr>
                                <tr>
                                    <td colspan="2" class="color2">Fill in your new decided password. This password
                                        needs to be at least 3 characters long and is not case sensitive. The max number
                                        of characters is 16.</td>
                                </tr>
                                <tr class="color1">
                                    <td width="25%"><b>New password:</b></td>
                                    <td width="75%"><input type="password" name="password" size="30" value=""></td>
                                </tr>
                                <tr>
                                    <td colspan="2" class="color2">Please fill in your password again to make sure you
                                        didn't type any mistakes.</td>
                                </tr>
                                <tr class="color1">
                                    <td width="25%"><b>Confirm password:</b></td>
                                    <td width="75%"><input type="password" name="password_confirm" size="30" value="">
                                    </td>
                                </tr>
                                <tr>
                                    <td class="dots" colspan="2"></td>
                                </tr>
                                <tr>
                                    <td colspan="2">
                                        <center><br><input type="submit" name="sendpassword" value="Send password">
                                        </center>
                                    </td>
                                </tr>
                            </table>
                        </form>
                        <% } %>

                            <br><br><br>
                            <div class="dots"></div>
                            <div class="nothing">
                                Pagename: <b>Lost password</b><br>
                                Description: With this option you can retrieve a lost username and/or password.<br>
                                Related subjects: <h3>lost password</h3>, <h3>retrieve password</h3><br><br>
                                Naruto-Arena.com is a fansite based on the Naruto Anime and Manga series.
                                The holders of the copyrighted and/or trademarked material appearing on this site are as
                                follows:<br>
                                NARUTO © 2002 MASASHI KISHIMOTO. All Rights Reserved.<br><br>
                                <a href="/privacy-policy/" class="con">Privacy policy</a> -
                                <a href="/legal-disclaimer/" class="con">Legal disclaimer</a> -
                                <a href="/terms-of-use/" class="con">Terms of use</a>
                            </div>
                            <div class="dots"></div><br>
    </div>
</div>
</div>
</div>