<!-- LAYOUT: NAVIGATION -->
<div
    style="padding: 0px 0px 0px 0px; margin:0px 0px 0px 0px; top:10px; line-height:7px; font-size:0px; position:absolute; left:2px; width:187px; height:27px;">
    <a href="/"><img src="/images/layout/navigation/startpage.gif"></a>
    <br>
    <br>
    <a style="cursor:pointer;"
        onclick="popupwindow2('/game/','In-Game - Naruto Arena','770','560')">
        <img src="/images/layout/navigation/startplaying.gif">
    </a>
    <br><br>
    <a href="/game-manual/">
        <img src="/images/layout/navigation/game.gif" border="0">
    </a>
    <br><br>
    <a href="/ninja-ladder/">
        <img src="/images/layout/navigation/ninjaladder.gif" border="0">
    </a>
    <br><br>
    <img src="/images/layout/navigation/forum.gif" border="0">
    <br><br>
    <a href="/contact/">
        <img src="/images/layout/navigation/contact.gif" border="0">
    </a>
</div>