<div style="padding: 0px 0px 0px 0px;  margin:0px 0px 0px 0px; top:217px; position:absolute; background-color:white; left:200px; width:565px; line-height: 16px; border-top: 1px black solid; border-left: 1px black solid;  height:1000px;">
						<div style="padding: 0px 0px 0px 0px;  height:1000px; margin:10px 10px 10px 10px; font: normal normal normal 11px/normal Trebuchet MS, arial, verdana, sans-serif; color:#000000;">
						<h1>Legal disclaimer</h1><br><a href='/'>Naruto Arena</a> > <a href='/main/'>Main</a> > <h2>Legal disclaimer</h2><br><br>
Naruto Arena is just a fan site, we did not create any serie that may be listed on Naruto Arena, nor did we have any part in the production process.  
<br><br>This site is not meant to infringe any of the <a href='/terms-of-use/' class="con" name="copyright">copyright</a>s, it is simply here to encourage the continuing popularity of Japanese Animation, and for many more young viewers to watch it. Although we did not create any of the series, we did spend a lot of time creating a lot of the files on this site. Please respect our efforts by not stealing any of our files/layout(s) from us. Thank you.  
<br><br>For all related matters concerning aspects upon the server which specific media is made available, information from this server resides on a computer system funded by the companies and/or parties associated with it. The use of this system may be, and is, monitored for computer security purposes. Any unauthorized access (hacking) to this system is prohibited and is subject to criminal and civil penalties under Federal Laws including but not limited to Public Laws 83-703 and 99-474.  
<br><br>Naruto Arena 2006. All Rights Reserved. For controversial reasons if you are affiliated with any government, Anti-Piracy group or any other related group, or were formally a worker of one, you cannot enter this site, cannot access any of its files, or do anything related to this site. If you enter this site you are not agreeing to these <a href='/terms-of-use/' class="con" name="terms">terms</a> and you are violating code 431.322.12 of the Internet <a href='/privacy-policy/' class="con" name="Privacy">Privacy</a> Act signed by Bill Clinton in 1995. By not agreeing to the <a href='/terms-of-use/' class="con" name="terms">terms</a>, you cannot threaten Naruto Arena or any company storing these files, and cannot prosecute any person(s) affiliated with this page which includes family, friends or individuals who run or enter this web site.  
<br><br>Information on this web site is provided "AS IS" without warranty of any kind, either expressed or implied, including, but not limited to, the implied warranties of merchantability, fitness for a particular purpose, or non-infringement.  
<br><br>In no event will Naruto Arena , its host, and any other companies and/or sites linked to Naruto Arena be liable to any party for any direct, indirect, special or other consequential damages for any use of this website, or on any other hyperlinked website, including, without limitation, any lost profits, loss of programs or other data on your information handling system or otherwise, even if we are expressly advised of the possibility of such damages.  
<br><br>All Screenshots featured on Naruto Arena are property of Naruto Arena and made by a Naruto Arena staff <a href='/profile/' class="con" name="member">member</a> unless otherwise stated. No Music Video may be taken from Naruto Arena and used on another site without the expressed written permission from the owners.  
<br><br>By continuing to access Naruto Arena, you are expressly and impliedly agreeing to all <a href='/terms-of-use/' class="con" name="terms">terms</a> as stated above, and affirm that you are in compliance with all federal, state and local laws concerning the content of this site.

<center>
</center>

							<br><br><br>
							<div class="dots"></div>
							<div class="nothing">
							Pagename: <b>Legal disclaimer</b><br>
							Description: This page contains the legal disclaimer.<br>
							Related subjects: <h3>legal disclaimer</h3>, <h3>legal</h3>, <h3>disclaimer</h3><br><br>
							Naruto-Arena.com is a fansite based on the Naruto Anime and Manga series. 
							The holders of the copyrighted and/or trademarked material appearing on this site are as follows:<br>
							NARUTO © 2002 MASASHI KISHIMOTO. All Rights Reserved.<br><br>
							<a href="/privacy-policy/" class="con">Privacy policy</a> - 
							<a href="/legal-disclaimer/" class="con">Legal disclaimer</a> - 
							<a href="/terms-of-use/" class="con">Terms of use</a>
							</div>
							<div class="dots"></div><br>
						</div>
					</div>
				</div>
			</div>