<h4>Statistics</h4><br>
<b>Members:</b>
<br>Total members: <u>
    <%= statistics.totalMembers %>
</u>
<br><a href="/memberlist/"><u>Show
        memberlist</u></a>

<br><br><b>Online:</b>
<br>Admins online: <u>
    <%= statistics.adminsOnline %>
</u>
<br>Moderators online: <u>
    <%= statistics.moderatorsOnline %>
</u>
<br>Members online: <u>
    <%= statistics.membersOnline %>
</u>
<br><a href="/users-online/"><u>Show
        users
        online</u></a>
<br><br>